[2015-01-03 12:00] jamesbassett opened #1 "Migrate issues from SourceForge"
Migrate any outstanding issues from SourceForge.

* **Bugs**: http://sourceforge.net/p/supercsv/bugs
* **Feature Requests**: http://sourceforge.net/p/supercsv/feature-requests/

[2015-01-19 23:27] hansgru opened #2 "Grails Plug-in for super-csv"
Please add a Grails Plug-in for super-csv.

The only existing Grails CSV seems to use OpenCSV:

http://grails.org/plugin/csv
http://svn.codehaus.org/grails-plugins/grails-csv/trunk/

(another option might be to update the existing grails plug-in to use super-csv)

Thank you.

[2015-01-19 23:40] kbilsted commented on #2
Hi Hans

Thanks for the suggestion. Since none of the team members have used Grails, changes are that this won't get done. Would you be interested in helping out with this yourself? We really could use more helping hands on the project.

cheers

[2015-01-20 00:04] hansgru commented on #2
I will gladly help. I'm still a Grails newbie however.

I inherited several projects that use OpenCSV (and Grails), that still need many fixings. I'm not acquainted with SuperCSV at the moment, but if I'll get more experience with it, sure :)

[2015-01-20 08:09] kbilsted commented on #2
Sounds good. I'm closing this issue until you return work with more details as to how to integrate with grails.

[2015-01-20 08:09] #2 closed

[2015-01-22 11:33] jamesbassett opened #3 "OutOfMemoryError when reading large files with mismatched quotes"
When reading large files with mismatched quotes (i.e. invalid CSV), Super CSV stays in 'quote mode' and keeps reading lines until reaching EOF or running out of memory.

This could be solved by having a configurable maxLines preference (throw an Exception when the number of lines read exceeds the limit), which could be set to a sensible default (maybe 1000 lines?).

Originally raised as Bug 31 on

[2015-01-22 11:41] jamesbassett opened #4 "Preference to disable multi-line records"
In order to make Super CSV more lenient and be able to parse CSV that isn't properly quoted, a preference could be added to disable multi-line records.  This would mean that EOL is considered the end of a record, even if it doesn't have matching quotes at the end.

Originally raised as Feature Request 47 on [SourceForge](http://sourceforge.net/p/supercsv/feature-requests/47/)

[2015-01-22 11:50] jamesbassett opened #5 "Configurable line terminator for reading"
Currently, Super CSV uses LineNumberReader when reading CSV files, so all variations of line terminators are treated the same.  To be more lenient with dodgy CSV files that use different line terminators (e.g. \n for embedded newlines and \r\n for the end of a record) but don't escape properly, Super CSV could have a line terminator preference when reading, to restrict the line terminator used for

[2015-01-22 11:57] jamesbassett opened #6 "JDBC ResultSet writer"
A writer to write a JDBC ResultSet as CSV.

Originally raised as Feature Request 38 on [SourceForge](http://sourceforge.net/p/supercsv/feature-requests/38/)

[2015-01-22 12:03] jamesbassett opened #7 "Extensibility of CsvBeanReader/CsvBeanWriter"
Consider updating the API of CsvBeanReader and CsvBeanWriter to allow them to be easily extended (currently there is very little value in extending, as methods and instance variables are not visible).

This is a tradeoff between the defensive style used throughout the project, and extensibility.

Originally raised as [Feature Request 37](http://sourceforge.net/p/supercsv/feature-requests/37/) and

[2015-01-22 12:07] jamesbassett opened #8 "Spring Support"
Consider making Super CSV more Spring friendly.

Originally raised as [Feature Request 36](http://sourceforge.net/p/supercsv/feature-requests/36/) on SourceForge.

[2015-01-23 11:23] jamesbassett opened #9 "Delaying CellProcessor exceptions"
Currently, CSV reading/writing stops immediately when encountering a cell processor exception. This is fine in most cases, but it would be nice to have the option to process all columns, then throw the exception. This way, the whole row of data can be fixed at once, instead of re-running after fixing each column.

This is currently (v2.0.0) achievable by using a custom cell processor (see [this](h

[2015-01-23 11:26] jamesbassett opened #10 "Support multi-character delimiter"
Currently only single-character delimiters are supported. It would be an overhaul of the parser (Tokenizer), but consider adding support for multi-character delimiters.

Originally raised as [Feature Request 14](https://sourceforge.net/p/supercsv/feature-requests/14/) on SourceForge.

[2015-01-23 11:46] jamesbassett commented on #1
@kbilsted I've migrated all the issues from SourceForge that I consider valid.  Take a look and let me know if there's any left you think should be copied across - otherwise I'll just close them all off.

I've also locked it down so no new bugs/feature requests can be raised via SourceForge, but I'll leave everything there for historical purposes (especially as the website release notes refer to t

[2015-01-23 16:32] kbilsted opened #11 "Tidy up unit tests for Exception classes"
Some of the unit tests print to standard out (the unit tests in `org.supercsv.exception` all use `e.printStackTrace()`). This can be misleading when the stacktraces indicate something might be wrong, but all of the tests pass (because the exception was expected).

All of those tests should use JUnit's [ExpectedException](http://junit.org/javadoc/latest/org/junit/rules/ExpectedException.html) rule

[2015-01-23 17:53] kbilsted commented on #1
great - how about

https://sourceforge.net/p/supercsv/bugs/52/
https://sourceforge.net/p/supercsv/feature-requests/42/
https://sourceforge.net/p/supercsv/feature-requests/33/ (2 issues.. one being a config for interning strings)
https://sourceforge.net/p/supercsv/feature-requests/29/

what do you think about including these?

[2015-01-23 22:02] jamesbassett opened #12 "Add primitive and boolean getter support to BeanInterfaceProxy"
Feature request [27](https://sourceforge.net/p/supercsv/feature-requests/27/) on SourceForge added support for boolean getters (`isX()`) when reading beans using `CsvBeanReader`, but boolean getters are not supported by `BeanInterfaceProxy`, which is used when reading into an interface type.

`BeanInterfaceProxy` also doesn't support primitive types (which is complicated when you have to return th

[2015-01-23 22:14] jamesbassett opened #13 "Preference to distinguish between null and empty columns"
Super CSV reads both null columns and columns with empty string (2 quote characters) as `null`.

Null columns (returned as `null`):

    col1,col2,col3
    ,,

Empty strings (also returned as `null`):

    col1,col2,col3
    "","",""

While this is usually the desired behaviour, some use cases need to be able to distinguish between `null` and empty. Add a preference to allow empty strings to be re

[2015-01-23 23:53] jamesbassett opened #14 "Support backslash escaping (configurable escape character)"
Super CSV escapes embedded quotes per [RFC4180](http://super-csv.github.io/super-csv/csv_specification.html), e.g.

    "This is what ""embedded quotes"" look like"

Some CSV files don't adhere to RFC4180, and use a `\` (backslash) character instead 2 quote characters, e.g.

    "This is what \"embedded quotes\" look like"

Add an `escapeCharacter` preference (defaults to `quoteCharacter`) that al

[2015-01-24 00:09] jamesbassett opened #15 "CellProcessors for Joda-Time"
Add cell processors for [Joda-Time](http://www.joda.org/joda-time/) classes. They should be in a separate module, e.g. `super-csv-joda`

Originally raised on [SourceForge](https://sourceforge.net/p/supercsv/bugs/56/)

[2015-01-24 00:19] jamesbassett opened #16 "Super CSV doesn't pass the Turkey Test"
Super CSV doesn't work when your locale is Turkey: reflection fails because it looks for getters/setters in the format: `setİsActive /getİsActive` (not the capital I is not normal).

There's so many places in the code where this could be an issue that I'm reluctant to attempt to make Super CSV [pass the Turkey Test](http://www.moserware.com/2008/02/does-your-code-pass-turkey-test.html) - I don't t

[2015-01-24 00:40] jamesbassett commented on #1
I closed 33 (it should have been closed already as it was solved), and added the rest (including some others you didn't mention).

So now SourceForge will just be used for:
* Historical purposes (release notes still point to old SF bugs/features)
* Downloads (people are still going to download from SF, so may as well upload the distribution there as well...for now)
* Donation URL (PayPal link brea

[2015-01-24 00:40] #1 closed

[2015-01-25 21:18] kbilsted commented on #11
Reopened so we remember to use junits expect exception

[2015-01-25 23:58] jamesbassett commented on #11
The tests in question were only constructor tests, so the comment regarding ExceptedException wasn't relevant (no exceptions are actually thrown).

[2015-01-26 13:42] kbilsted commented on #1
great job!

[2015-01-26 13:43] kbilsted commented on #15
Yes probably we need a separate submodule in github for this or an entirely new project? with its own maven build etc? Sounds like the later?

[2015-01-27 20:16] kbilsted commented on #11
I see you've removed the printing in 7d7bedd99ca49e58ea0dbde3708a75c49f30a64f

[2015-01-27 20:16] #11 closed

[2015-01-27 20:31] kbilsted opened #17 "Remove AbstractCsvWriter.escapeString() on the next release"
@deprecated this method will be removed in the next major release, in favour of supplying your own CsvEncoder via
	 *             the CsvPreference object. If you have overridden this method, it will not delegate to the CsvEncoder
	 *             at all.

[2015-01-28 11:23] jamesbassett commented on #15
Nah, I think this should just be another module of Super CSV (like the dozer extension).  I'll take a look at this ticket - shouldn't be too tricky and I think it's quite useful.

[2015-01-28 12:02] kbilsted commented on #15
yep... i just havent played with githubs submodules :) but lets do it the way the other modules have been structured.

[2015-01-29 19:27] kbilsted opened #18 "Unit test is locale dependent"
A test is locale dependent, and hence fail in Denmark

[2015-01-29 20:19] kbilsted opened #20 "While parsing files each line is unnecessarily copied"
During tokenization the tokenizer copies each line to make parsing easier. This sports problems with long lines and/or embedded systems with low memory. A fix will reduce the maximum memory usage of the raw data by 50%.

[2015-01-30 11:59] jamesbassett commented on #18
Haha I probably would have just updated the test to use a different processor. I tweaked the test to avoid overriding the Locale (it's JVM wide, so a bit scary) and just the Locale support in the `FmtNumber` processor.

But more importantly, I've updated the build to allow building in a different (German) locale. It's driven by a Maven profile, so you can use it with `mvn clean verify -P germanLoc

[2015-01-31 04:20] #20 closed

[2015-01-31 04:28] jamesbassett commented on #20
Looks good, just made some formatting updates.  I used the [merge method](http://blog.spreedly.com/2014/06/24/merge-pull-request-considered-harmful/#.VMxROIqUf0o) you mentioned using `hub` - I love it! Nice tidy commit history :)

I ran the benchmarking tests before/after and there was no difference - speed wise at least. I'd be interested in running it through a profiler (e.g. visualvm) to valida

[2015-01-31 10:33] kbilsted commented on #20
ok well, yeah that is nice, but im not sure if it was some other person who
did the PR, that he would then be added as a contributer in github. Think I
had to do an explicit merge in one of my other projects. Another annoyance,
is that I have to clean up some branching locally now :) I have a bugfix
branch sticking out..and another bugfix branch i never pushed i dont know
how to get rid of :) Happ

[2015-01-31 12:54] kbilsted opened #23 "Support for TryRead() methods"
I was thinking that maybe we could introduce TryReadxxx() methods on the reader implementations which do not throw exceptions, rather they may return null/an empty list maybe along with a list of strings for the caller to inspect and react upon. In C# "out parameters" are typically used with TryXXX methods. I'm not sure what to use in Java. Especially if we want to keep compatibility with java 1.5

[2015-01-31 12:55] #18 closed

[2015-02-01 03:11] jamesbassett commented on #20
No the 'apply mail' method keeps the commit history (I was able to merge your pull request into my local master, update the formatting, and merge my commit into yours, then push back to GitHub with you still recorded as making the change). The same should go for anyone else who forks and creates a PR (they should still get credit).

Yeah I had to [git reset --hard upstream/master](http://stackover

[2015-02-01 10:19] #15 closed

[2015-02-01 10:37] #17 closed

[2015-02-01 15:54] kbilsted commented on #4
How should the code react if a EOL is reached and we are inside a quote?
* Throw an exception?
* Interpret the first cell-separator after the quote as the end quote?

[2015-02-01 17:44] kbilsted opened #25 "Support trailing empty cells"
Hmm thinking about it, I think it may be reasonable to add a reader configuration option AllowTrailingEmptyCells boolean with the default to false. If true we trim the empty cells before doing the sizecheck as it is today. I think this is orthogonal to #23 so I think both can co-exist.

This option has to be implemented for all the readers. @vleroy What do you think of this idea?

Just found anoth

[2015-02-01 17:56] kbilsted opened #26 "Improvements bundle"
On http://csveed.org/comparison-matrix.html all the cells with a "no" for the supercsv column is a potential enhancement idea.

* custom escape
* deal with leading/trailing whitespace  (i thought we had support for that)
* get by column name (i thought this would be the mapreader)
* read all lines
* skip comment lines ((i thought we had support for that)
* Split cell to multiple properties (well t

[2015-02-01 20:21] jamesbassett commented on #26
You might also be interested in https://github.com/uniVocity/csv-parsers-comparison

[2015-02-01 20:30] kbilsted commented on #26
1. Are any of these ideas worth making issues for?
2. should we get the comparison up to speed with all out features?

[2015-02-02 18:04] kbilsted commented on #20
We will see a huge speed improvement when writing since we should not attempt to encode int/decimal/... this is now taking a major part of the time when writing. Thus with the file i've submitted, we should see significant improvements with you removing the call to `escape()`

[2015-02-02 20:10] jamesbassett commented on #20
Actually if you look at the [commit](https://github.com/super-csv/super-csv/commit/1c336e286929d02b1d6c92753fc3a545f89f882d), the executed code is exactly the same :)  The `escape()` method was removed because the exact same functionality is now available via a preference - but the code from that method is still used in `writeRow()`.

[2015-02-02 20:13] kbilsted commented on #20
Well, then we should make this a bit more intelligent. Before the code was too generalized and thus everything was escaped. I guess we need to do so in the case that all values must be enclosed in "" but for 'normal' writing of data, there is no need to attempt escaping certain types. I thought that was part of your change. But I can open an issue on this ample optimization opportunity.

[2015-02-07 00:59] saul-mtz opened #27 "String with backslash character"
Is writting a CSV Enconder the only way to put in the file strings like?
abc"def\ghi

[2015-02-07 07:08] jamesbassett commented on #27
Sorry I'm not 100% sure what you're asking.  From the question title, it looks like #14, but the question body looks like you're asking if you can write a CSV file without any escaping.

If so, then you should take a look at [SelectiveCsvEncoder](http://super-csv.github.io/super-csv/apidocs/org/supercsv/encoder/SelectiveCsvEncoder.html), which will disable escaping for some or all columns.

Just c

[2015-02-08 21:04] saul-mtz commented on #27
My problem was that I was using a [MySql LOAD DATA query](http://dev.mysql.com/doc/refman/5.1/en/load-data.html) to import the CSV data to a db but strings with backslashes was provoking some inconsistency.

I solved using the ESCAPED BY option.

Thanks for aswer and mantain your awesome tool.

[2015-02-08 21:12] #27 closed

[2015-02-12 14:07] Rapster opened #28 "CellProcessorAdaptor.validateInputNotNull should not be final"
Hi everybody,

First I'd like thank you all for this awesome library. Although, I have a request I'd like to custom the message thrown by some exception. Example in NotNull, instead of "this processor does not accept null input - if the column is optional then chain an Optional() processor before this one", I'd like to indicate the row, the column where occurs the exception. I was thinking to over

[2015-02-14 00:34] jamesbassett commented on #28
Hi Rapster,

I think it'd be ok to remove the `final` in this case - I couldn't think of any reason anyone would want to override that method, but you've proved me wrong :)  @kbilsted what do you think?

Alternatively, you could override the `execute()` method instead to modify the message. For example, to append the row and column:

	@Override
	public Object execute(Object value, CsvContext conte

[2015-02-14 08:16] kbilsted commented on #28
I think the framework should support telling more exactly what went wrong out of the box.

*  So get rid of the final and
* Change implementations on the information they provide when throwing

@Rapster  are you up for doing those changes and sending a pull request?

[2015-02-17 08:59] Rapster commented on #28
Hi @kbilsted,

I would have been doing with pleasure but I can't, at least not now. How would you see this? Using properties file?

[2015-02-22 20:18] kbilsted commented on #28
I think changing the behaviour for more informative error messages need not be configurable.

[2015-02-28 12:18] #28 closed

[2015-03-10 19:48] gmatadh opened #30 "Multiple line breaks within a single quoted value causes StringIndexOutOfBoundsException"
java.lang.StringIndexOutOfBoundsException: String index out of range: 0
	at java.lang.String.charAt(String.java:658) ~[na:1.7.0_75]
	at org.supercsv.io.Tokenizer.readColumns(Tokenizer.java:155)
	at org.supercsv.io.AbstractCsvReader.readRow(AbstractCsvReader.java:179)
	at org.supercsv.io.CsvBeanReader.readIntoBean(CsvBeanReader.java:249)
	at org.supercsv.io.CsvBeanReader.read(CsvBeanReader.java:190

[2015-03-10 20:06] kbilsted commented on #30
Thanks for reporting this

[2015-03-12 12:20] jamesbassett commented on #30
This is a regression we introduced with 83ee9accc183054d5bd4f3d5184ea459ad4e1b5e (it works fine in 2.2.1).

Tokenizer now fails to parse consecutive newlines within quotes, e.g.
[code]

[2015-03-12 21:21] kbilsted commented on #30
Hi @gmatadh Bug fixed. Will be pushing soon. Are you able to pull, build and test your file before we do a release or if your file does not contain sensitive data, share it with us?

[2015-03-13 15:55] gmatadh commented on #30
Looks good.  Thanks.

[2015-03-13 15:59] kbilsted commented on #30
@james time for a release ? :)

[2015-03-13 22:05] jamesbassett commented on #30
Ok, should be released now. Thanks again @gmatadh for picking this up :)

[2015-03-13 22:05] #30 closed

[2015-03-19 04:02] kitikousei opened #31 "i18N"
Super CSV is an useful tool for read/write csv files.
but it dos'nt support i18N

[2015-03-19 07:44] kbilsted commented on #31
Thanks for you input. But can you please elaborate on the problems you are experiencing?

[2015-03-19 17:02] jkot opened #32 "CsvPreference.getQuoteChar returns an int instead of char"
First, thanks for the great library! I've just noticed a small inconsistency:

https://github.com/super-csv/super-csv/blob/master/super-csv/src/main/java/org/supercsv/prefs/CsvPreference.java#L175

quoteChar is declared as in CsvPreference: `char quoteChar`
but it returns an int:
[code]

that prevents doing: `new CsvPreference.Builder(CsvPreference.STANDARD_PREFERENCE.getQuoteChar(), CsvPreference

[2015-03-19 19:19] kbilsted commented on #32
Sure. Don't recall why it was made like this. Feel free to submit a pull request.:)

[2015-03-19 20:54] jamesbassett commented on #32
So it looks like the inconsistency (`char quoteChar` / `int delimiterChar`) has been around since [pre 2.0.0](https://github.com/super-csv/super-csv/blob/v1.52/src/org/supercsv/prefs/CsvPreference.java). The `CsvPreference` constructor would take char and int, but the getters both returned int. I retained this behaviour when creating the builder for 2.0.0.

Why `int`s? If Kasper can't recall then

[2015-03-19 21:19] kbilsted commented on #32
Well. Let me see. It may originate from a time where it was, or it was believed to be, faster to compare against an int. Since the VM internally are converting lesser types to int upon processing. I think I recall it was faster, albeit less general, than using a string.

[2015-03-19 23:04] nickbabcock opened #33 "Misleading Exception with Mismatched Quotes"
Problem:

[code]

There is a human error on line two when the quote was left off the end. The exception that is thrown is misleading:

I believe the error should read:

On a technical note, the reason why line 4 is chosen is because `quoteScopeStartingLine` keeps being reset when a new quote is found.

The point would be better illustrated if there were a million lines between the quote and the en

[2015-03-20 12:44] jamesbassett commented on #33
Hi Nick,

Thanks for the detailed report - it's nice to see more than a 1-liner for a change :)

I think #4 would be an ideal solution - and it's as easy as adding a preference and adding an 'or multiline disabled' check to [this](https://github.com/super-csv/super-csv/blob/4cfa3b82b23a2422873aa6e538447aa974cd9857/super-csv/src/main/java/org/supercsv/io/Tokenizer.java#L118) line of `Tokenizer` to

[2015-03-20 13:15] nickbabcock commented on #33
Thanks for the support James, I'll make a pull request in probably less than an hour. I was able to wrap the combine maxLines functionality with disabling multi-line records in the style of #3 instead of #4. My reasoning is that while super-csv emphasizes leniency (which is a :+1: from me), the only benefit from being lenient as #4 describes is if the mistyped quote is in the last field.

The idea

[2015-03-21 17:46] kbilsted commented on #33
I am away for a few days and can only look at this in half a week. Unsure if the renamed is descriptive enough

[2015-03-21 20:29] kbilsted commented on #33
Forgotten to say great stuff and thanks for all your feed back so far @nickbabcock

[2015-04-04 00:19] robross0606 opened #35 "Support annotations"
This project could really benefit from incorporating - or at least absorbing as a module - Super CSV Annotations.

https://github.com/mygreen/super-csv-annotation

This is supremely useful for reducing code complexity.  However, the biggest key missing feature I've found so far is that there is no current annotation support for custom cell processors.

[2015-04-04 00:22] robross0606 opened #36 "Custom cell processor implementation is confusing."
The mechanism for extending CellProcessorAdapter is odd and requires "code by convention" rather than interface enforcement.  Super CSV could learn a thing or two from CSVeed's AbstractConverter code pattern in this particular regard, though just about everything else is better in SuperCSV.  For example, it is entirely unclear how a CellProcessAdapter does bi-directional conversion.  Or is a diffe

[2015-04-04 06:57] kbilsted commented on #36
Hi @robross0606

Thanks for your input. I'm not entirely sure what you mean by lack of interfaces, there is https://github.com/super-csv/super-csv/blob/master/super-csv/src/main/java/org/supercsv/cellprocessor/ift/CellProcessor.java

The reason that a processor should only do one thing, is that e.g. the constructor will take very different input depending on whether it is reading or writing. It wo

[2015-04-04 07:08] robross0606 commented on #36
Yes, I believe you misunderstanding what I was trying to say.  For starters, “execute” is relatively meaningless. In the context of conversion for CSV, “toString” and “fromString” are far more meaningful interface implementations.  I can’t really tell from the naming of any of this what it actually will do.  Perhaps that’s the point and it is just the documentation (or my knowledge) that is lackin

[2015-04-04 07:14] kbilsted commented on #36
How can we best improve on the interfaces without breaking backward compatibility?

It has been many years since I last reviewed the use of generics, but if you have concrete ideas, please bring them forth.

You are more than welcome to come up with a plan that we may agree upon, and then a PR for merging.

[2015-04-16 03:09] davidrwinters opened #37 "Missing end quote for quoted column can cause Tokenizer to hang"
We are using super-csv to parse rather huge CSV files in an import process where some of the files have 100's of millions of rows.  Often times the CSV files are not well formatted and will have unescaped quotes in them, which causes the Tokenizer to scan for the ending quote for a very long time.  Probably if we would let it run long enough the JVM would run out of heap.  In this case of missing

[2015-04-16 12:30] jamesbassett commented on #37
Hi David, I believe this is a duplicate of #3 which has been addressed by PR #34 (which I was planning on merging this weekend as I just got back from overseas). I appreciate the work you've put in (and I don't want to discourage you from contributing!) but it looks almost identical to the other PR, so I'm going to close this as a duplicate. I recommend that you check the open issues and pull requ

[2015-04-16 12:30] #37 closed

[2015-04-16 16:07] davidrwinters commented on #37
Hi James,

Thanks!  I’ll take a look at the other PR.

David

On Apr 16, 2015, at 5:30 AM, James Bassett <notifications@github.com> wrote:

[2015-04-17 17:14] tlots commented on #9
We came across this with exactly the use case you specified and went ahead with a custom cell processor - this would be a good improvement to the project.

[2015-04-17 23:05] jamesbassett commented on #3
See #33 for further discussion on the implementation of this

[2015-04-17 23:05] #3 closed

[2015-04-17 23:12] #33 closed

[2015-04-17 23:58] jamesbassett commented on #36
I agree that custom cell processors are a bit quirky - but I think the [documentation](http://super-csv.github.io/super-csv/examples_new_cell_processor.html) at least points out these quirks.  If you're familiar with servlet filters in JEE, it's actually a very similar pattern (without the chaining of constructors and the use of interfaces to restrict how they're chained together).

If you look at

[2015-04-18 00:15] jamesbassett commented on #35
I've used https://github.com/FasterXML/jackson-dataformat-csv for this before and I agree it's quite nice to have a CSV-specific DTO with annotations.

Some thoughts:
* You wouldn't be able to use deep/indexed mapping so this would be limited to `CsvBeanReader` and `CsvBeanWriter`
* The header could be supplied or as an annotation
* The cell processor (which could be a chain of cell processors) fo

[2015-04-27 08:15] JunNakamura opened #40 "ICsvMapWriter sometimesfailed in multi threads"
I use super-csv 2.3.1 with play-2.2.1 on jdk-1.7.0-45.

I use ICsvWriter as the following to export some data as csv file.

[code]

Firstly, I used older version (2.1.0). I faced the following bug, So I upgraded it to the current version.
http://sourceforge.net/p/supercsv/bugs/43/

It is OK at my local environment which is Windows7, memory is 16GB.
Then, I deployed my app to the staging environmen

[2015-04-27 12:34] VenkataRaju opened #41 "org.supercsv.cellprocessor.ParseDate is creating SimpleDateFormatter for every field it is parsing"
Is it because it is not expensive to create(1*) or for thread safety purposes?
As format is not going to change, creating/compiling the format every time seems unnecessary (I think Guava synchronizes SDF in Gson in the similar case)

1* I see there is a compile() method in SimpleDateFormat similar to Pattern.compile()

[2015-04-27 21:04] jamesbassett commented on #41
Yes it's purely for thread-safety purposes (which is one of the many reasons that I prefer Joda, and implemented the joda processors). While the readers/writers themselves aren't thread-safe, people tend to re-use processors in multiple threads, making this trade-off necessary.

[2015-04-27 22:26] jamesbassett commented on #40
Sorry your post is a little ambiguous - it's not clear whether you still experience the bug in 2.3.1. This bug was fixed in [2.2.1](http://super-csv.github.io/super-csv/release_notes.html#a2.2.1), so any newer versions shouldn't experience this (if you are then please let us know!).

As for the reason? Each preference constant (e.g. `CsvPreference.EXCEL_PREFERENCE`) has an instance of `DefaultCsvE

[2015-04-28 05:03] JunNakamura commented on #40
I must apologize... It is cause that my staging is illegal.

I found that,  my colleague added org/supercsv/encoder/DefaultCsvEncoder.java, which version is 2.1.0,  to our package for debugging. The above is referred at the staging...

I removed it, then the problem is solved using 2.3.1. I will close this issue. I am deeply sorry　and thanks for helping.

[2015-04-28 05:03] #40 closed

[2015-04-29 01:11] jamesbassett commented on #40
No worries Jun :)

[2015-04-29 06:37] VenkataRaju commented on #41
Thank you for the clarification

[2015-04-29 06:38] #41 closed

[2015-05-14 09:56] dmitry87 opened #43 "Next line is skipped when there is a human error with skip character"
Problem: #33
[code]
Expected
When we set maxLinesPerRow = 1. We read `"foo","bar` and get an error there.
Then read `"baz","zoo"` and `"aaa","bbb"` successfully.

Actual:
When we set maxLinesPerRow = 1. We read `"foo","bar` , read next line: `"baz","zoo"` and only then get the error.
Then read `"aaa","bbb"` successfully. In result we have one line skipped.

Message for skipping more then one line

[2015-05-14 15:48] poonammanning opened #45 "CsvMapWriter writes from Map<Object>"
Hello, I am using super-csv 2.3.1. I am trying to write Map<Object, Object> to csv. I tried to use CsvMapWriter but I get compilation error because CsvMapWriter.write method only accepts Map<String, ?> as the first argument whereas on the website on the link below, it is mentioned that CsvMapWriter "Writes each row of CSV from a- Map<String> or Map<Object> ". I do not see the implementation of Map

[2015-05-14 16:27] poonammanning commented on #45
This is my first use of github.  I have just realized that my post isn't posted correctly. Somehow the generics are missing with the class names so I am having to put it in quotes :( . I am rewriting my query here -

Hello, I am using super-csv 2.3.1. I am trying to write Map"<"Object, Object">" to csv. I tried to use CsvMapWriter but I get compilation error because CsvMapWriter.write method only

[2015-05-14 18:44] kbilsted commented on #45
It seems many cannot find the examples in the left menu. You are not the first to get lost. Have a look at this page and please respond if it solves your problem

http://super-csv.github.io/super-csv/examples_writing.html

[2015-05-14 18:52] poonammanning commented on #45
I have seen this example and I am using ICsvMapWriter example , except that the map I want to write to Csv has key of type Object whereas in the example , map's key is String type . The write method doesn't accept Map with key as Object type .

Thanks ,
Poonam

Sent from my iPhone

On 14 May 2015, at 19:44, Kasper B. Graversen <notifications@github.com<mailto:notifications@github.com>> wrote:

It

[2015-05-18 18:49] kbilsted commented on #36
Closing. Seems we are not progressing the debate

[2015-05-18 18:49] #36 closed

[2015-05-18 18:51] kbilsted commented on #35
Despite the limitations/problems @jamesbassett  mentions, I think it'd be cool if someone makes a PR for this.

[2015-05-18 18:55] kbilsted commented on #32
We have a benchmark suite, if we do not see a change of performance, I don't see why we could not change the type to `char`. Since we both agree to this, @jkot  feel free to PR us.

[2015-05-18 18:55] kbilsted commented on #31
Closing due to lack of feed back.

[2015-05-18 18:57] kbilsted commented on #10
Last time I looked at this feature there was only a minor performance degradation. So fine by me.

[2015-05-18 20:22] jamesbassett commented on #35
Yeah I agree - and that's not a list of problems, more of an idea of how it could be implemented :)

[2015-05-18 20:47] kbilsted commented on #45
Ah I see your point. Not sure of a generic way to turn objects intro sane strings for the header. Any ideas? Maybe we need tune the docs slightly :)

[2015-05-18 20:48] kbilsted commented on #6
Nice idea. Anyone feel free to submit a PR

[2015-05-18 20:55] kbilsted commented on #9
@tlots  Anything you'd be interested in developing? Feel free to discuss the implementation strategy here before taking on any work.

[2015-05-18 20:57] kbilsted commented on #13
:+1:

[2015-05-19 14:31] CrystalMethod opened #46 "[Q] how to write members of type Collection?"
Please give an example how to write to CSV:

[code]
CSV:
[code]

[2015-05-19 19:45] CrystalMethod commented on #46
Solution found:
https://super-csv.github.io/super-csv/dozer.html
https://super-csv.github.io/super-csv/examples_dozer.html

[2015-05-19 19:45] #46 closed

[2015-05-20 01:02] jamesbassett commented on #45
I would just create a new map with the keys converted to Strings. The API relies on the String values in the `nameMapping` array to match with keys in the Map - so even if you allowed Object keys and `toString()`'d them, the values in that array would be horrendous.

[2015-05-20 08:18] kbilsted commented on #46
:+1:

[2015-05-25 18:54] kbilsted opened #47 "WANTED: People to help maintain supercsv"
Dear super-csv community, we are looking for people to help maintain super-csv. Time and motivation is at low, for both James and I.

James has moved the project tremendously and I if only we can find people with as much enthusiasm and forward thinking as he, it would be great :)

You don't need to be a supercsv expert to jump along, all you need is the time and motivation to do great stuff with a

[2015-05-25 18:58] kbilsted commented on #33
@nickbabcock  @dmitry87  could issue #47  be of interest to you?

[2015-05-27 17:28] vrechdelaval opened #48 "CsvDozerBeanWriter using quote mode and deep mapping"
First, thanks for this great and useful library.

I am using super-csv 2.1.0 and I am trying to write files with CsvDozerBeanWriter.
I am using a custom CsvPreference to use quote mode but it doesn't work with a bean with deep mapping while it works with a bean without deep mapping.
It writes file with good data but without wanted quotes. Here is my code:

[code]

It seems to me that there is a bu

[2015-05-27 20:03] jamesbassett commented on #48
Hi, is it possible to see a full example? It would really help to see the definitions of `MyBean` and `fieldMapping`, and most importantly the CSV output, so we can see what the bug actually is.

[2015-05-27 20:41] jamesbassett commented on #4
As part of the 2.4.0 release we're adding the `maxLinesPerRow` preference. By setting this to 1, an exception is thrown for multi-line records.

So the question is: do we still want the lenient option in this special case? (if `maxLinesPerRow` is 1 and you reach EOL while in quote scope, can we just pretend that there was a trailing quote?).

I'm a bit hesitant to add something like this, but open

[2015-05-27 20:55] jamesbassett opened #49 "Fix the sample output in the 'Writing with CsvDozerBeanWriter' documentation"
Update the documentation for [writing with CsvDozerBeanWriter](http://super-csv.github.io/super-csv/examples_dozer.html#Writing_with_CsvDozerBeanWriter) to show the correct output (it should be CSV, but it's a copy-paste from the reading example!).

[2015-05-27 23:17] vrechdelaval commented on #48
Solution found by simplifying my code to give you a complete example: my unit test checked surrounding double quotes while logically removed because I read the file with CsvPreference.TAB_PREFERENCE.

I'm really sorry I opened this issue for nothing.

[2015-05-27 23:17] #48 closed

[2015-05-28 01:42] jamesbassett commented on #48
No worries :)

[2015-05-28 10:13] kbilsted commented on #48
:+1:

[2015-05-29 06:52] kbilsted commented on #4
Nah, I was just wondering :-)

[2015-05-29 06:55] #32 closed

[2015-06-12 08:25] ptahchiev opened #52 "[question] Api to check whether cell-processor range contains a certain cell-processor."
Hello,

I have a cell-processor which internally has another cell-processor inside `next` attribute, which has another cell-processor, and so on. I would like to ask if there's an API to check whether somewhere in this chain the `ParseBool` cell processor is met. Of course I can write my own method, but I just want to know if there's one already written.

Thanks.

[2015-06-12 10:14] jamesbassett commented on #52
Hi Petar, no there's nothing in the API like that. Generally cell processors should have no idea about the other processors in the chain - so you'll have to write your own. It will be a bit ugly, as you'll have to do `instanceof` checks and cast to `CellProcessorAdaptor` to get the next processor in the chain (you'll know you've reached the end of the chain because the last processor, `NullObjectP

[2015-06-12 21:28] kbilsted commented on #52
Yes @jamesbassett is does seem a bit exotic to have such need, but my guess is that @ptahchiev  is dynamically building the chain of processors. And probably it would confuse users if we add too much of that stuff in here - or maybe they will never be able to find it. So I'd lean against not getting this inside the framework itself, but @ptahchiev  i'd be nice to share your snippet as a gist..

[2015-06-12 21:28] #52 closed

[2015-06-16 14:06] ChongTang commented on #47
Hi. I am a computer science Ph.D student. I am interested in maintaining SuperCSV. Maybe we can talk more?

[2015-06-16 14:12] kbilsted commented on #47
Sounds great! There are plenty of issues here to start working on. Anything in particular you want to start improving?

[2015-06-16 14:16] ChongTang commented on #47
@kbilsted I think it's better to start with fixing issues. So I can get familiar with everything through fixing issues. Do you have anything special or urgent that need to be fixed? If no, I will pick one of the issues to work on.

[2015-06-16 14:25] kbilsted commented on #47
@ChongTang Do what you find the most fun..one interesting thing: how well is the support for Chinese source code. Maybe there are issues similar to #16

Please raise issues before coding away on stuff not already reported so we can agree that it is a good idea 😋

Also issue #26 may be a good starting point

[2015-06-16 14:26] ChongTang commented on #47
@kbilsted OK. I will take a look at these two issues first.

[2015-06-16 14:35] kbilsted commented on #47
@ChongTang  I'm looking forward to seeing how you spell get and set in Chinese then. :)

[2015-06-16 16:30] kbilsted commented on #26
An idea could be to create a unit test called "FeaturesOfSuperCsv" which has a test for each row of the comparison matrix showing that supercsv in fact has this feature. Missing features should be made into individual issues which the community then can implement or reject.

this test is nice for
* new people on the team
* people doing comparisons
* for linking from the documentation pages

[2015-06-30 23:23] ZioberMichal commented on #16
Hi @jamesbassett,
    this problem is really interesting and I wanted to simulate it on my computer. I have created new profile in POM configuration (in the same way you have created for Danish and English):
[code]
After that I have run test with `-PturkishLocale` profile but every test passed. I have even added one property: `isRegistered` to `org.supercsv.mock.ReflectionBean` and some test metho

[2015-07-01 13:25] ludovicofischer opened #53 "Super CSV JSR 310 support"
Hi,

I have created default parsers and formatters for the JSR310 date types https://github.com/ludovicofischer/super-csv-jsr310. Would you be interested in having it inside the main supercsv repository like the Joda formatters? The code is a port of the joda extras. It works but it needs some more testing.

[2015-07-01 23:24] ZioberMichal commented on #47
Hi @kbilsted,
   I am a fun of this library and I will try to help you guys as much as I will able to. I have even started working on issue #16 but it is not easy to reproduce. I will try to figure out how to reproduce it and fix.

[2015-07-01 23:51] #49 closed

[2015-07-02 03:09] jamesbassett commented on #53
Hi Ludovico, yeah I think that'd be really useful. It's good that the Java 8 time API is so similar to Joda :)

Maybe we should have a `super-csv-java8` module, so we're not limited to just Java 8 time cell processors? @kbilsted what are your thoughts?

Hopefully this can just be another module of the `super-csv` project (it just overrides the compiler settings, javadoc settings, etc), but if that

[2015-07-02 10:50] ludovicofischer commented on #53
`super-csv-java8` is a good idea, although I don’t know what other types JDK8 introduces besides the date and time that are likely to be found in a CSV. I would be happy to merge back into the supercsv repository I hope it’s possible to build a maven submodule with different source level and target.

[2015-07-02 17:17] kbilsted commented on #47
@ZioberMichal  That sounds fantastic. With you and maybe @ChongTang  on-board it is important to first discuss in an issue what you are working on so we don't all do the same work. Looking at #16 is a great start. Thanks!

[2015-07-02 17:21] kbilsted commented on #53
@ludovicofischer  Thanks for the idea and code. Its a great idea

@jamesbassett  I think a new module will be great. We preserve backward compability, yet stay on par with the latest development. For example, since java8 has lambda expressions, we can now make a cellprocessor that takes a lambda, that way a lot of chaining and custom cell procor-writing can be simplified away. I'm not too strong o

[2015-07-02 22:58] ZioberMichal commented on #16
I tried to debug tests when Turkish locale is selected and thats true - for isXxx fields app converts "i" to lower case using default locales and for Turkish one `setİsXxx /getİsXxx` appears but this is irrelevant as long as we use `equalsIgnoreCase` method to compare String-s. This method knows how to handle cases like this. It appear that `ReflectionUtils` uses `equalsIgnoreCase` in "sensitive"

[2015-07-02 23:11] ZioberMichal commented on #16
I have noticed that you have 3 build jobs for different locales. I propose to add: turkishLocale.

[2015-07-03 14:17] kbilsted commented on #16
Really, you are the expert here. I have never programmed in Turkish. But if I did which behaviour would I expect? The way it works now or your fix? I don't have any reservations towards your fix, I just want us to see it from both sides. :)

[2015-07-03 17:48] ZioberMichal commented on #16
Hi @kbilsted,

a little sum up:

Q: Does app passes TT(Turkey Test) before PR?
A: Yes. It works because `equalsIgnoreCase` method is used whenever result of `toLowerCase/toUpperCase` methods is compared to something else. Notice that this `"setİsXxx".equalsIgnoreCase("setisxxx")` does `true`.

Q: Whether this pull request is needed?
A: Actually, not. But it shows that someone has checked source co

[2015-07-03 18:30] kbilsted commented on #16
Thanks for the nice summary. I get the details now:)

Another question. How can we support Turkish programs using getters/setters?

[2015-07-03 20:19] #45 closed

[2015-07-03 22:29] jamesbassett commented on #16
@ZioberMichal thanks for looking into this, and ditto on the nice summary. I remember updating to `equalsIgnoreCase` to fix another bug...I didn't realize it would fix this too :)

I don't think we should use `toUpperCase(Locale.ENGLISH)`. It will make the exception messages kind of weird (the setter/getter names will be in uppercase) and as you said it has no effect because we're ignore case when

[2015-07-04 04:32] kbilsted commented on #16
It seems we need to add a comment for equalsignorecase stating the two bugs that it fixes :)

I don't mind the extra test as although the use case,now, may be covered by other tests that may not hold true in the future. And the test incur very little overhead.

[2015-07-04 09:01] ZioberMichal commented on #16
@jamesbassett, @kbilsted thanks for all your comments. I did a little fix to my PR:
1. I have reverted my change in `ReflectionUtils#getMethodNameForField` method.
2. I also updated methods documentation.

Q: How can we support Turkish programs using getters/setters?
A: It's hard to say. In java programs in source code we can use UTF8 characters and every developer can name method using local char

[2015-07-05 19:32] kbilsted commented on #16
Hi @ZioberMichal  Many thanks for your input. Before a merge, I think we should combine the changesets since the net result is quite small. Combine eg. using  `git reset --soft head~4`

[2015-07-05 19:47] ZioberMichal commented on #26
It is a good idea to create test like this or split it and make smaller - for example one test per paragraph:
1. TokenizerFeaturesTest
2. LineReadingTest
3. etc...

I thought about putting all these test classes to `org.supercsv.features` package.

@kbilsted, @jamesbassett please let me know what do you think about this.

[2015-07-05 19:53] kbilsted opened #56 "Create a test suite showing all the features of supercsv"
An idea could be to create a unit test called "FeaturesOfSuperCsv" which has a test for each row of the comparison matrix showing that supercsv in fact has this feature. Missing features should be made into individual issues which the community then can implement or reject.

this test is nice for

* new people on the team
* people doing comparisons
* for linking from the documentation pages

featu

[2015-07-05 19:54] kbilsted commented on #26
I think you should go ahead if you want to start creating such a test suite (org.supercsv.features). But I'm not sure it is fixing #26 rather it's #56

[2015-07-05 19:56] ZioberMichal commented on #56
Thanks for pointing me to this issue. I will try to start working on test suite this week.

[2015-07-05 20:01] kbilsted commented on #56
Sounds fantastic. Not sure how we should structure this? I mean we cannot put ALL the features into one test I guess since we have extra modules e.g. for jodatime. Any ideas? Maybe put a "feature" test in each package?

Then we also need from the frontpage, to link to alle the "featuretests"

[2015-07-05 20:08] kbilsted commented on #16
Already fixed by @jamesbassett  in an earlier commit. Closing and soon merging @ZioberMichal  PR documenting the details

[2015-07-05 20:08] #16 closed

[2015-07-05 20:47] jamesbassett commented on #16
Looking at the linked article I don't we Super CSV actually passes the Turkey test (there's heaps of other issues apart from the 'i' one), but the specific issue reported is fixed, so maybe that's good enough?

[2015-07-05 21:27] kbilsted commented on #16
Well, you are correct. We are back to my question regarding supporting turkish code - in a sense. How about we close this issue here and wait for someone having an actual problem to solve? If you disagree, feel free to reopen :+1:

[2015-07-05 21:48] ZioberMichal commented on #56
"Feature" test in each package sounds good. We can start using this approach and when we will see better one we can refactor already created tests.

[2015-07-06 13:57] kbilsted commented on #56
I'm not sure what provides the better overview. Maybe it will be clear after some code

[2015-07-07 08:26] jamesbassett commented on #53
Ok @kbilsted @ludovicofischer I've created the Java 8 module (see PR #57). Let me know what you think :)

[2015-07-07 08:43] kbilsted commented on #53
+1

[2015-07-07 08:45] kbilsted opened #58 "Java8 specific cell processors"
Since java8 has lambda expressions, we can now make a cellprocessor that takes a lambda, that way a lot of chaining and custom cell procor-writing can be simplified away.

#57 introduced a java8 module to host this

[2015-07-08 22:35] adamkrez commented on #4
Is quoting absolutely necessary?  I ran into an issue where the log that I was parsing was using the quote character to denote inches (example: 4.5".)  This caused me to miss out on processing 23,545 lines from a 2.3mil line log which was extremely difficult to debug.  I am in favor of having a CsvPreference with quoting functionality disabled since my current solution is to change the quote chara

[2015-07-08 22:39] ludovicofischer commented on #53
Did you just add support for LocalDate? I could transplant the code from my own project on top of yours to supply convertes for the other time classes.

[2015-07-08 22:46] jamesbassett commented on #53
Yeah I needed at least one class and test class to test that everything works properly (compilation, distribution zip file, javadoc, site, etc), but I wanted to leave you with the opportunity to add everything else.

So feel free to submit a PR :)

[2015-07-09 00:00] ZioberMichal commented on #56
I have implemented first test for "Tokenizer" section and actually it is not possible to:
1. change escape character.
2. set different characters for "quote character" and "escape character"

Or maybe it is possible, but I could not find any feature which allows that. Actually, we can trim leading and trailing white-characters but we have to choose proper cell processors. I think, it should be lis

[2015-07-09 04:05] jamesbassett commented on #56
Hey Michał, looks like all of those tests are for _writing_, whereas any features that Tokenizer should support are related to _reading_.  Some features only apply to reading or writing, others apply to both.

Regarding `testDealWithLeadingTrailingWhitespace()`, you're correct that we don't automatically trim and the only way to do that is to use a cell processor.  I think this is logical.  `surro

[2015-07-09 05:58] ZioberMichal commented on #56
Actually I wanted wrote these tests for "read" mode as well but at the beginning I just wanted show first draft and talk about that a little. Anyway, that a good point that some features are available in "read" and "write" mode and some only in one mode. I agree that `@Ignore` annotation should be used if do not want to break build.

[2015-07-09 06:10] kbilsted commented on #14
Quote @jamesbassett : you guys might disagree, but I really hate the backslash escaping - so many issues are caused by invalid CSV and this feature only makes the situation worse.

[2015-07-09 06:13] kbilsted commented on #56
How we organise the tests are still unclear to me but a test fixture for reading features and one for writing features sound great.

With the tests we need a table in the documentation to quickly give an overview of the features possibly with a column referring to the specific tests by linking to the source code maybe.

[2015-07-09 08:49] ZioberMichal commented on #56
It is a good idea to create documentation which explicitly tells which features are available. A little sum up:
1. I will create one test class for read and one for write mode, TokenizerFeaturesReadTest and TokenizerFeaturesWriteTest accordingly.
2. Features which are not available will be represented by ignored tests.

When tests will be ready and "well implemented" we can create new section in d

[2015-07-09 22:07] kbilsted commented on #4
Hi  @adamkrez  I understand you are facing a problem, but I'm reluctant to changing the existing API just because your client does not know how to follow the standard format.

A feature for disabling quoting may be an option, I'd encourage you to raise an issue. I'd be nice if in the issue you could provide a sample CSV showing the problem.

Would you have faced fewer problems that would be fixed

[2015-07-09 22:13] #6 closed

[2015-07-09 22:36] ludovicofischer commented on #53
I’m on it. I have a question, though. How is it possible that the current tests for the Joda package pass in all locales if they check the results against hard-coded strings? Making sure that my tests would work in any locale was on my to-do list.

[2015-07-09 23:13] jamesbassett commented on #53
Haha magic! I suspect that's because I used locale-independant date format strings, e.g.

    DATE_TIME_FORMAT = "yyyy-MM-dd'T'hh:mm:ss.SSSZZ";

If I'd put an `E` in there it would become locale dependent.

You've probably seen that there's a few maven profiles for different locales, and the travis build compiles each one. So we could easily add extra tests to check for locale-dependent values if

[2015-07-10 22:23] ZioberMichal commented on #56
I've pushed tests for Tokenizer read/write features. Let me know what do you think about this implementation.

[2015-07-11 12:43] ZioberMichal commented on #56
I've also added tests which explicitly checks features from http://csveed.org/comparison-matrix.html page from “Line Reading” section.

[2015-07-11 12:54] kbilsted commented on #56
Great I was about to asking just that
Den 11/07/2015 14.43 skrev "Michał Ziober" <notifications@github.com>:

[2015-07-11 13:03] ZioberMichal commented on #56
We have to write tests also for "Bean Mapping" and "Writing CSV" sections. "Documentation" sections is completed for "super-csv". I am not sure whether is something to do related with "Quality of error feedback", what do you think? "Convenience" section is also not clear for me.

Will you merge this PR as it is now or you want to wait for tests related with other sections?

[2015-07-11 13:57] kbilsted commented on #56
Already merged.. but feel free to send more stuff :+1:

[2015-07-11 18:01] ludovicofischer commented on #53
Thanks for the information about date format strings! One more question: you are using tabs instead of spaces in this project, right?

[2015-07-11 23:20] ZioberMichal commented on #56
I am not sure whether it is already merged ... :)

I am a little confused what some ideas mean in this comparison matrix in "Bean mapping" section.

Idea | Status | Question
------------ | ------------- | -------------
converts to primitives | set manually | How it should be tested? What does it mean "set manually".
converts to basic Objects | set manually | What "basic Objects" mean? I am not sur

[2015-07-11 23:29] jamesbassett commented on #53
I believe so. Which IDE do you use? I prefer Intellij, but I tend to use Eclipse for Super CSV as the formatter/code style files are checked into the project. So once you set up the eclipse project to use them, you won't have to worry about it.

[2015-07-11 23:52] ludovicofischer commented on #53
I use Intellij. I have imported the Eclipse forrmatter settings http://blog.jetbrains.com/idea/2014/01/intellij-idea-13-importing-code-formatter-settings-from-eclipse/.

[2015-07-12 00:08] jamesbassett commented on #56
My interpretation...

Idea | Status | James' interpretation
------------ | ------------- | -------------
converts to primitives | set manually | Relates to using `CsvListReader` and converting columns to primitives (int, long, etc). This requires cell processors, i.e. 'set manually'
converts to basic Objects | set manually | Relates to using `CsvBeanReader`/`CsvDozerBeanReader` converting to simpl

[2015-07-12 00:09] jamesbassett commented on #53
Well that's awesome - goodbye Eclipse!

[2015-07-12 16:38] ZioberMichal commented on #53
I also use IntelliJ. You can export your's IntelliJ settings, if you are sure they are the same as Eclipse's, and commit to repo. It is much easier to import IntelliJ's settings that Eclipse's.

[2015-07-12 18:15] ZioberMichal commented on #56
Thanks for it!

I've added new tests. Could you please, @kbilsted, @jamesbassett  review them?

[2015-07-12 22:33] ludovicofischer commented on #58
I have been experimenting with this. I wonder how to re-throw `SuperCsvCellProcessorException` when the conversion fails, since the lambda can throw anything. I guess just catch Exception? Also, the API does not look great. I’m afraid you’re forced to pass `Class<T>` together with `Function<T, R>` to the `CellProcessor` constructor, otherwise there is no way to check the argument type in `execute(

[2015-07-12 22:38] ZioberMichal opened #61 "Create Java code-style for IntelliJ"
In project we have Eclipse code-style configuration file - `supercsv_eclipse_formatter.xml`. I think, it would be great if we could create the same for IntelliJ and add it to project.

Requirements:
1. Code formatted in Eclipse and IntelliJ should looks the same.

[2015-07-13 05:43] kbilsted commented on #61
:+1:

[2015-07-13 20:14] ludovicofischer commented on #61
I have opened a pull request with my IntelliJ settings, but I wonder whether http://editorconfig.org/ would not be preferable. I just learned that Intellij can export and consume that and it’s supposed to be supported by a lot of editors, so we would be done once and for all.

[2015-07-13 22:42] ZioberMichal commented on #61
I am not sure whether `editconfig` is needed. But if we can use it to create the similar setting for IntelliJ Idea, it is great. I was trying to change imports order and then using `File -> Export settings...` option export them to XML file. See below:
[code]

I can try to create the similar settings and push them as the comment. What I have noticed that multiline comments are not under configurat

[2015-07-13 23:14] ZioberMichal commented on #61
I have found a plugin for IntelliJ which can use Eclipse's formatter file: https://plugins.jetbrains.com/plugin/6546?pr=&showAllUpdates=true . Installation is really easy and configuration you can find here: https://github.com/krasa/EclipseCodeFormatter

I have done this for myself and "Reformat code ..." option does not change any file (I've tried it for 4 random classes and it looks in the same

[2015-07-14 00:57] adamkrez commented on #4
Thanks for getting back to me.  Can you document how to set multiline-max to 1?  I do not see it anywhere on the website.  I will test to see if this will resolve my issue.

[2015-07-14 01:08] jamesbassett commented on #4
You'll have to build Super CSV from source (the `maxLinesPerRow` preference will be available in the next release). See: https://github.com/super-csv/super-csv/blob/master/super-csv/src/main/java/org/supercsv/prefs/CsvPreference.java#L396-L407

[2015-07-15 21:25] ZioberMichal commented on #61
@ludovicofischer, have you tried this plugin? What do you think about it?

[2015-07-15 22:11] ZioberMichal commented on #25
@kbilsted, do we have test case for this? In SO issue it is mentioned that super-csv does not properly read exported contacts from Gmail account. More less this CSV could look like this:
[code]
By saying: "If true we trim the empty cells before doing the sizecheck as it is today." you mean we should treat above document as:
[code]
Do we have test case for it?

[2015-07-16 05:45] kbilsted commented on #25
If you wrap an optional processor for each column, will this solve this? Hmm I guess not when columns are missing

 The fundamental idea is that cells have values, thus the required optional.

I think support can be implemented fairly easy by calling a method that trims a copy of the processor array before processing a line.
If you want to, I think a separate issue for this. It sounds fairly CPU h

[2015-07-16 06:37] jamesbassett commented on #25
Isn't this why I implemented `CsvListReader.executeProcessors()`?

See: http://sourceforge.net/p/supercsv/feature-requests/31/

[2015-07-16 06:38] jamesbassett commented on #25
And in the doco: http://super-csv.github.io/super-csv/examples_reading_variable_cols.html

[2015-07-16 06:41] kbilsted commented on #25
Now you mentioned it it rings a bell :) so do we want to just close 25 then?

[2015-07-16 07:54] ZioberMichal commented on #25
I think that we can create a similar test for above example and prove that it works.

[2015-07-28 06:45] singularityfx commented on #35
I was thinking how to create a generic annotation that would allow to use any CellProcessor including custom or chained ones. The problem is that CellProcessor object cannot be an annotation member.

This is what I came up with.

1) For really simple cases:

`@CellProcessor(NotNull.class)`

2) For cell processors with arguments (including chained processors).

`@CellProcessor(value=Optional.class,

[2015-07-31 18:54] #53 closed

[2015-07-31 19:08] kbilsted commented on #58
sounds like the plan.

Can you elaborate with an example? What are T and R, I'm guessing input and output types..

Could we make it overloads with the most common cases, ie. that the input is a string and we are returning an object? I guess then we need to do appropriate downcasts..not sure we can/want that hey I'm just spitting out ideas here..

Could there be an alternative "lightweight" strateg

[2015-07-31 19:09] kbilsted opened #64 "New release?"
Hi team, is it time to soon do a release? I guess we need to update the version log with all the stuff. Currently 44 commits have been made since last release.

[2015-07-31 19:13] kbilsted commented on #35
Hi @singularityfx

Thanks for your thoughts. There is something inside of me that feels wrong when I read your suggestion. I have always been of the impression that annotations were **short** and **declarative** rather than imperative.

while your approach is more general. it does entail dumping java into strings with no compiler to support the user.

Personally, I think we get the most millage fr

[2015-07-31 19:15] kbilsted commented on #43
Why is this still open? is f7ae3ca357fc29cf821aff2e4e5c595fef4fccc4 to be merged? I guess we then need a new pull request for that one @dmitry87

[2015-08-02 18:42] kbilsted commented on #61
Can we close this?

[2015-08-02 20:24] ZioberMichal commented on #61
I think - yes. @ludovicofischer, what do you think?

[2015-08-02 22:20] ludovicofischer commented on #61
Yes, I think we can close. It looks easy enough to use the Eclipse configuration from Intellij.

[2015-08-03 08:01] kbilsted commented on #61
closing

[2015-08-03 08:01] #61 closed

[2015-08-03 20:18] dmitry87 commented on #43
@kbilsted I've just checked - both commits are in PR and were merged. The issue #43 Fixed. It should be closed

[2015-08-03 20:18] #43 closed

[2015-08-03 21:10] ZioberMichal commented on #64
Good idea. Current version is stable and new test suite should prove that everything works properly.

[2015-08-03 21:31] ludovicofischer commented on #58
`T` and `R` are indeed the input and output types. I have pushed my work here: https://github.com/ludovicofischer/super-csv/commit/6f40d07885d7fee524baa420f1629147234dfd10
I do not understand where the downcasts would be needed if we make a special case for String.
There are a number of special cases in `java.util.function` for taking and returning double and long (I guess to vaoid boxing overhead

[2015-08-07 13:14] ds-perfit commented on #64
Any ideas when the new release will be available? I'd like to use the multi line limit.
Thanks!

[2015-08-09 03:41] jamesbassett commented on #64
Ok @kbilsted I've updated the release notes and done a minor tidy up. I'm now officially handing the reins back to you (that will probably be my last commit!). It's been great fun and I've learnt heaps running this project, but it's time for me to move on and pursue other things.

Hopefully the [guide to releasing](https://github.com/super-csv/super-csv/wiki/Performing-a-release) is thorough enoug

[2015-08-17 13:22] pkalwar opened #65 "support for custom field-mapping"
Is it possible to indicate a custom field-mapping, in a map format or so?
Required if the csv headers are different then bean field-names.

This'd allow:
- less/no dependency on column position in csv
- csv can have any number of fields, in any order

Accordingly, cell-formatter array implementation would need to be changed.

Combined with Dozer, it'd be the most powerful tool.

Thanks for your gr

[2015-08-18 12:29] singularityfx commented on #65
Actually I was thinking about it too, and I believe it will be a great feature. I can work on this.

[2015-08-18 12:32] kbilsted commented on #65
How will this be different than reading into a hash table and copy from
here into your object?

But sure let's see what you can come up with :-)
Den 18/08/2015 14.29 skrev "singularityfx" <notifications@github.com>:

[2015-08-18 17:14] kbilsted commented on #64
@ZioberMichal @singularityfx  are any of you interested in gathering the changes since the last commit and following james' guide?

[2015-08-18 17:19] kbilsted commented on #58
I wouldn't mind making the framework more complicated if it makes life easier for developers :)

Thanks for the link to your test. I think the code you have pushed is a bit too simplistic in order for me to judge whether we have gained anything from this approach or not. Maybe @ZioberMichal  or @singularityfx  has an oppinion on this?

[2015-08-19 16:50] singularityfx commented on #65
@kbilsted

I suggest to add additional overloads of CsvBeanReader.read() methods that accept name mapping and processors as maps instead of array:

`public <T> T read(final Class<T> clazz, final Map<String, String> nameMapping, final Map<String, CellProcessor> processors)`

`nameMapping`: key is actual column name in CSV file, value is bean field name
`processors`: key is the same, value is CellPr

[2015-08-20 09:02] ZioberMichal commented on #64
Hi @kbilsted, I am on vacation until 1st of October... I am not sure whether I will be able to do this before this date..

[2015-08-20 11:52] singularityfx commented on #64
@kbilsted @ZioberMichal I would like to finish issue #65 first. Then I can look into it.

[2015-08-21 09:33] pkalwar opened #67 "Support for custom validation/error message for cell-processors?"
Is it possible to have a custom error msg attached to a cell-processor, so when it fails validation, we get our custom msg in the exception?

I had opened a stackOverflow Q also: http://stackoverflow.com/questions/32075090/custom-error-message-for-a-cell-processor-in-supercsv

[2015-08-25 07:02] singularityfx commented on #64
@kbilsted @ZioberMichal Guide mentions use of PGP. In Russia we have legislative limitations on use of cryptographic software. I would prefer not to touch it without clear understanding of these limitations. Sorry guys....

[2015-08-25 12:10] jamesbassett commented on #64
Haha wow. It's only used to generate the `.asc` signatures of the files uploaded to maven central (a maven central requirement), similar to an MD5 hash but with the added security of the public key being distributed on many key servers. @kbilsted you might have to do it. I can do it as a last resort, but was hoping you guys could figure it out without me :)

[2015-08-27 08:21] pkalwar commented on #67
Ok, "Hound Dog" had replied.

yes, this could have been done with custom cell-processor, but overriding 5-6 type of processors (for now, but who knows later), just for a custom message seems overkill, where as the cell-processor constructor could accept a msg instead, and be kept in the base processor, or so.

Localized message problem could also be solved to some extent: while creating cell-proce

[2015-08-27 10:10] kbilsted commented on #67
I don't see the sanity in infering the locale of files based on the current locale. However, it may be a nice idea with configuration-based exception messages. You are welcome to send a PR with the necesarry changes.

[2015-08-29 23:52] ZioberMichal commented on #65
I think that it is a nice feature. Please, see my comment to implementation in PR.

[2015-09-02 21:08] ZioberMichal commented on #35
Hi @singularityfx , @kbilsted,
   I agree with @kbilsted that we should not go in direction where at the end we have to parse `String` to "Java code".

### Names
I think that `CellProcessor` is a good name but it is already used and we can not reuse it because it will be confusing to have interface and annotation with the same name.

### Concept and implementation
Option 1) and 2) look good and th

[2015-09-02 21:23] ZioberMichal commented on #67
Generally, the idea with internationalizing does not sound bad but I do not see bigger benefits of it. The one reason which I see when I need internationalizing it is propagating exception message to user interface. Does it your case, @pkalwar ?

Of course, PR is always welcomed.

[2015-09-02 21:25] ZioberMichal commented on #64
@kbilsted what is the status of the releasing? Are we waiting for the task #68?

[2015-09-02 21:34] ZioberMichal commented on #58
In my opinion, this is a great idea ( :+1: ) to have something like this. I am not familiar with Java8 but as soon I will find a time I can try to write something related to this feature.

[2015-09-02 21:45] ZioberMichal commented on #56
@kbilsted ,
Implemented tests covers below sections:
1. Tokenizer
2. Line Reading
3. Bean Mapping

Next sections mostly covers "concepts" not "implementation":
1. Writer - each our writer can write to `Writer`.
2. Documentation - done.
3. Quality of error feedback - I think that we should create new issue for each feature but mainly we have implemented this.
4. Convenience - as above
5. Open Sourc

[2015-09-02 21:57] ZioberMichal commented on #23
Interesting idea. :+1:

I think, that if we want to implement something like this we should return much more than only "boolean" or "null/empty" value. User probably would like to see complex `POJO` class with list of columns for which parsing has failed with error messages and all additional data which we can provide.

[2015-09-03 16:41] kbilsted commented on #23
Yes that might be a good idea. Originally, when I thought of this I was just thinking about the "standard" try-pattern with a method `object Read() throws ...` and a `bool TryRead(out result)` - but since Java does not have the possibility of returning multiple values natively, we need to wrap the result in some resulttuple or something, so we might at well cater for the need of providing more inf

[2015-09-03 16:42] kbilsted commented on #56
Sure create the new issues and close. Do we need an issue for making a documentation page giving an overview of all features of supercsv linking into the tests?

[2015-09-03 16:45] kbilsted commented on #58
I cannot help but feel its a bit too verbose needting to instantiate a `FunctionCellProcessor` for each lambda. But I'd gladly hear your comments.

[2015-09-03 16:47] kbilsted commented on #64
I have not touched it. I was hoping one of you guys could be persuaded into doing the release. :-)

Personally, I'm not really waiting for the completion of a specific feature. I think there are more than enough features to warrant a release.

[2015-09-03 17:06] kbilsted commented on #35
Repeating annotations are Java8 only. Is it a good idea to drop backward compatibility?

[2015-09-03 21:07] ludovicofischer commented on #58
About making the framework more complicated if it makes life easier for developers, I think we need to ask what is super-csv value added. There are a lot of CSV frameworks for Java, so they each bring to the table their high level API. The CSV parser is almost the same. So offering a new API would almost be like creating a new framework. On the other hand, separating the low-level parser and write

[2015-09-03 21:12] ZioberMichal commented on #56
I think that we can create new documentation page in this issue.

P.S: Until first of October I have a lot of work and probably I will not be able to do it sooner.

[2015-09-03 21:30] ZioberMichal commented on #58
I fully agree with you.

We should decide whether we want to create read/write CSV from the scratch or we use already implemented features and we just write new layer - "Lambda-CSV". Sounds like a tons of work ...

@ludovicofischer, could you propose an architecture of it? How do you see an implementation of all "lambda" features? I am really beginner if we are talking about Java8 but I will try t

[2015-09-03 21:41] ZioberMichal commented on #35
Oh, sorry. I meant to use only one part from this page "Step 2: Declare the Containing Annotation Type" to show my point of view. Sorry for misunderstanding.

I am thinking about something like this:
[code]

It must be possible in the current version which we are using.

[2015-09-03 22:46] ZioberMichal commented on #64
I understand. Task #68 we can push in next release.

I will try to push release this week.

[2015-09-10 14:15] kbilsted commented on #64
There is a "assignee" in the right-hand menu

[2015-09-14 13:25] pkalwar commented on #65
Hello, I see this issue is still 'open', but a PR is in effect.

Is the feature already available in latest release/trunk etc?

[2015-09-14 21:06] ZioberMichal commented on #65
No, feature was not merged yet. We are still working on this feature to make it easy to use.

[2015-09-15 03:30] kbilsted commented on #65
@singularityfx  @ZioberMichal  let's get going on this. How do you like my idea? It is simple. Work with eg beanreader and has a very terse syntax.

[2015-09-17 08:35] astrung opened #69 "Error with quotation marks("") when write CSV"
when i use SUPERCSV to write a file with this format:
"column_1","column_2","column_3",...
But with this cell format:
        final CellProcessor[] processors = new CellProcessor[] {
                new NotNull(), // paragraph_id (must be unique)
                new NotNull(), // company_name
                new NotNull(), // text
                new NotNull(), // words
                new NotNull

[2015-09-29 20:33] phovsepian-seven10 opened #70 "Unique Cell Processor Not throwing Exception"
To my understanding, I've been using Super CSV for a few hours, the Unique constraint as noted in the javadocs as being a constraint that "ensures that all rows in a column are unique". Following the examples online I created the following CellProcessor function:

[code]

While running a test, I noticed that the Unique constraint was not generating an exception when it should. I even make two cons

[2015-09-29 21:00] jamesbassett commented on #70
Try

        CellProcessor[] processors = getProcessors();
        mapWriter.write(csvResultMap, CSV_JOB_RESULT_HEADERS, processors);
        mapWriter.write(csvResultMap, CSV_JOB_RESULT_HEADERS, processors);

The `Unique` cell processor has state - you need the same instance to process all rows for it to work.

[2015-09-29 21:57] phovsepian-seven10 commented on #70
Ah - that solved the problem. I haven't looked at the internals but can understand why this would. It does make abstraction a bit trickier but nonetheless, works. I appreciate the quick response.

[2015-09-29 21:57] #70 closed

[2015-10-01 14:04] ncapponi opened #71 "Improve write performance in multi-threaded environment"
When writing a CSV file in a multi-threaded environment (multiple threads are writing to a CSV file), I noticed that there is contention in the AbstractCsvWriter class.

As the write operation is synchronized, it is better to reduce the number of calls in  a multi-threaded scenario.

I've performed some test using JMH, showing that we can improve performance with two changes in the AbstractCsvWrit

[2015-10-01 14:24] WalsonRene opened #72 "Issue due to quote and the delimiter"
Hello!

I have a big problem that i cant resolve i search evrywhere but i can't found a solution.

my processors

      private static CellProcessor[] getProcessors() {

		//CUSTOMER_CD (must be unique)  customerName CFM_REPORTING_REGION_CD
		final CellProcessor[] processors = new CellProcessor[] {new UniqueHashCode(),  new NotNull(),  new NotNull()};
		return processors;
	}

my readWithCsvBeanRea

[2015-10-01 14:26] WalsonRene commented on #72
Please i realy need your help; I try the method readWithCsvListReader. but i have this errors

lineNo=2, rowNo=2, customerList=[ARA, ARIK AIR LIMITED, SA        ;]
Exception in thread "main" org.supercsv.exception.SuperCsvException: The number of columns to be processed (1) must match the number of CellProcessors (3): check that the number of CellProcessors you have defined matches the expected nu

[2015-10-01 17:42] laurentvaills commented on #71
Hi,

I am a co-worker of Nicolas, and we studied together on that issue.

Regarding the synchronized write operation, here is more details :
As you can see in the [Writer](http://hg.openjdk.java.net/jdk7/jdk7/jdk/file/9b8c96f96a0f/src/share/classes/java/io/Writer.java) class, every write operation ends up into a synchronized block. So if we write :

[code]

The code above indeed creates 4 synchron

[2015-10-02 12:17] WalsonRene commented on #72
Someone can help me please ?

[2015-10-06 08:03] ncapponi commented on #64
As the release have not been done yet, is there any chance that the PR I submitted (#73) is included in the release ?

[2015-10-06 08:25] ZioberMichal commented on #64
I want to release it finally this week (tomorrow or day after tomorrow). @kbilsted I can wait for this PR if you need some time to check it.

[2015-10-07 15:29] kbilsted commented on #71
Great with the analysis! Am I reading this correctly, that for single threaded the performance is 50% slower? Perhaps we need a completely separate implementation for multithreaded stuff since it seems odd to penalize all other users.

I agree that the API is somewhat old fashioned, in that it doesn't support "constructor injection" of the Writer. Which in this modern day'n age is for granted. Rat

[2015-10-07 15:33] kbilsted commented on #69
If I'm understanding you correctly the following is from the documentation: http://super-csv.github.io/super-csv/preferences.html

Custom quote mode
By default Super CSV only adds surrounding quotes when writing CSV when it contains a delimiter, quote or newline (or if you've enabled surroundingSpacesNeedQuotes and the value has surrounding spaces).

Super CSV provides two alternative quoting mode

[2015-10-07 15:34] kbilsted commented on #67
@pkalwar  are you interested in supplying a PR or can we close this issue?

[2015-10-07 15:39] kbilsted commented on #72
Hi @WalsonRene you are showing two different errors for the same code example?

[2015-10-07 15:43] kbilsted commented on #65
I think in order to go further with this idea, we must ensure that it works for all kinds of readers not only bean readers. Otherwise it won't properly fit it. If we can achieve that, I think we can slide it into the framework. :)

[2015-10-07 16:06] ncapponi commented on #71
I've submitted a new version of the PR (https://github.com/super-csv/super-csv/pull/73).
I've introduced a new constructor because @ZioberMichal noted that it would break backward compatibility otherwise. Do you suggest another approach ?

Regarding performance, it is not slower in the single threaded case (the lines from JMH indicates "N plus/minus V" where N is the number of ops and V the varian

[2015-10-07 16:10] ncapponi commented on #71
I've created a gist for the JMH performance test: https://gist.github.com/ncapponi/a89674837e4d57af3ed7

[2015-10-09 09:37] ncapponi commented on #71
I've run the existing StandardCsvWritingBenchmarkTest with different implementations to have more insight on performances:
* Current implementation (before PR)
  * StandardCsvWritingBenchmarkTest.testCsvMapWriter: [measured 10 out of 15 rounds, threads: 1 (sequential)] round: **0.20** [+- 0.03], round.block: 0.00 [+- 0.00], round.gc: 0.00 [+- 0.00], GC.calls: 6, GC.time: 0.01, time.total: 2.88, ti

[2015-10-10 18:25] #71 closed

[2015-10-12 10:55] pietroaragona commented on #64
Hi all,
I'm reading @jamesbassett 's [guide](https://github.com/super-csv/super-csv/wiki/Performing-a-release) in order to help you for next releases.
I created JIRA account but  I don't understand what to do with [Super CSV ticket](https://issues.sonatype.org/browse/OSSRH-2458). Maybe I need to do any action on it, like watch it or simply I need the account on JIRA?
Thanks, Pietro

[2015-10-12 11:09] jamesbassett commented on #64
I believe you need to comment on the ticket to ask for your jira username
to be given permission to the super CSV repo

On Mon, 12 Oct 2015 19:55 Pietro Aragona <notifications@github.com> wrote:

[2015-10-14 07:58] ncapponi commented on #64
Hi @ZioberMichal, do you have any plan to do the release soon ? Just asking, no pressure ;-)

[2015-10-14 08:12] pietroaragona commented on #13
I would assign this issue to myself, but there is not a button to do this... Maybe the owner must add me?

[2015-10-14 14:26] kbilsted commented on #13
Yes @pietroaragona  you need to be a member for that. I think your message here is enough. You are welcome on the team if you want (and have time) to solve bugs, help with questions on SO or do new development :)

[2015-10-14 14:55] pietroaragona commented on #13
I used super csv in my last work with pleasure and now I'd like help a bit the project, I would be honored to be part of your team. I can start to solve some bugs and help with releases (I like DevOps area also)

[2015-10-14 14:59] kbilsted commented on #13
Sounds nice :)

[2015-10-14 19:42] ZioberMichal commented on #64
I want to do it this week. I was waiting for your PR and since it was merged I will release new version as soon it possible.

[2015-10-19 22:39] ZioberMichal commented on #64
Hi @kbilsted I have updated release notes and now they should contains all significant changes. If you think that we have all of them, please merge this PR and I will try to generate new version then.
Let me know what do you think.

[2015-10-20 06:09] kbilsted commented on #64
I have fallen ill.flu. hope to be back within a week. Ask singularfx for a
review . I think you have rights to merge the or now.let me know
Den 20/10/2015 00.39 skrev "Michał Ziober" <notifications@github.com>:

[2015-10-21 05:31] singularityfx commented on #64
@kbilsted @ZioberMichal I've checked commits history and can confirm that release notes #76  contain all significant changes since 2.3.1

[2015-10-21 09:07] ZioberMichal commented on #64
@singularityfx , thanks for review.
@kbilsted, yes, I see "Merge pull request" button. If you want I can merge it.

[2015-10-21 09:25] kbilsted commented on #64
Sure
I think you need a key to release on maven
Den 21/10/2015 11.07 skrev "Michał Ziober" <notifications@github.com>:

[2015-10-21 09:31] jamesbassett commented on #64
Yeah I recommend creating your OSS nexus account and commenting on the jira ticket to get access to publish to maven asap as it might take a day or so.

And also to generate your pgp key pair and distribute it.

Both steps should be documented on the release wiki page. I'm flying back from Japan tomorrow but can help out whenever I get an internet connection. But it'd be awesome for you to figure

[2015-10-21 14:32] ZioberMichal commented on #64
I have merged it (it was my first PR merge ever)

@jamesbassett, I created OSS Nexus account one week ago and I have generated pgp key already. Today evening I will try to release new version. I think that all prerequisites were done.

[2015-10-21 20:24] ZioberMichal commented on #64
Hi guys, I wanted to release new version today but I had some problems with GPG2 tool which were unexpected to me. At the end I was able to invoke `mvn release:prepare` command successfully but I pushed new changes to new branch `super-csv/master` accidentally ... :wink:. Sorry for that. I will remove it tomorrow and I will try to release new version on master branch.

I have never deleted branche

[2015-10-22 04:04] jamesbassett commented on #64
Hey, just on the shinkansen to the airport! As well as deleting that new branch you'll have to remove the new tag as well (it will get recreated when you prepare the release again).

Not sure how you created the new branch, but just remember that you won't have to execute any git commands, maven will do it all for you.

And don't worry about making mistakes, it's the only way to learn!

[2015-10-22 06:19] kbilsted commented on #64
Yes its the only way to learn, but please don't delete all the code and
push :) have a nice trip James.
Den 22/10/2015 06.04 skrev "James Bassett" <notifications@github.com>:

[2015-10-22 11:01] ZioberMichal commented on #64
Haha. Don't worry. I will delete this branch and tag and I will run the process again.

[2015-10-23 15:38] harel-e opened #77 "Double quote within double quote should fail validation"
First, thank you for the wonderful and time saving library.

I ran into a csv file that contained double-quote within double-quotes in the header. For example:

"customer", "request-"per"-second"

super-csv ignored the quotes around per and parsed the headers as:  customer, request-per-second
I would expect the library to fail this csv as invalid since the proper way to use double-quote within dou

[2015-10-27 09:43] laurentvaills commented on #64
Hi everyone,

I just wanted to know if @ZioberMichal had some chance to make some progress while running the release process again.
We have some pending works on the ForgeRock products waiting for that release (and more specifically the performance bugfix related to the writer.)

Regards.

[2015-10-27 15:16] ZioberMichal commented on #64
Hi @laurentvaillsm, yes I will do it tomorrow.
Sorry that it takes so long but I have a lot of work and I am so exhausted at the evening that I am not able to do anything more on github...

[2015-10-27 16:21] laurentvaills commented on #64
ok, thanks for your answer.
I understand well that you're doing this on your free time.

[2015-10-27 16:24] kbilsted commented on #64
If  you are pressed for time do a fork and a local release. Our release
should hold the same content and you can switch over easily. :-)
Den 27/10/2015 17.21 skrev "Laurent Vaills" <notifications@github.com>:

[2015-10-29 20:55] ZioberMichal commented on #64
Hi guys, I want to inform you that new version has been released! I hope that soon it will appear on Maven repository.

@kbilsted, could you please check whether everything was done properly?

[2015-10-29 23:09] jamesbassett commented on #64
Great job @ZioberMichal :)

Looks good to me!
* Available via maven central - check
* Website is updated - check
* Distribution attached to tag on Github with link to release notes - check

The only outstanding things are:
* close 2.4.0 milestone on Github (and create a new one for the next release)
* add distribution zip file to SourceForge (I'll let you guys decide whether you want to keep doing

[2015-10-30 06:38] ZioberMichal commented on #64
Hi @jamesbassett, thanks for checking new release.

@kbilsted, could you create new milestone. I think that we can skip SourceForge. People should understand that now we are using GitHub ;)

@jamesbassett thank you for all your help you gave me and I wish you all the best and only "good" projects. :smiley:

[2015-10-30 08:21] ncapponi commented on #64
Thanks for the release @ZioberMichal !

[2015-10-30 14:42] laurentvaills commented on #64
Many thanks @ZioberMichal .

[2015-10-31 07:34] kbilsted commented on #64
Great job :)

[2015-10-31 07:37] #64 closed

[2015-10-31 07:40] kbilsted opened #78 "Abandon sourceforge"
Hi team

In the other issue we discussed sourceforge. There seems to be many downloads there - but I'm not sure if it really are inflated numbers - downloads by bots.

On the other hand, github can be confusing at times.. e.g. finding releases. How about we create a documentation page called "downloading supercsv" that links to the github releases page and explains what to click? or just link to t

[2015-10-31 13:51] ZioberMichal commented on #78
Hi, we already have [downloading page](http://super-csv.github.io/super-csv/downloading.html) (it even points to page on GitHub where all releases are available). I guess that 99% of developers downloads libs from Maven repositories. In my opinion, we can skip Sourceforge without detriment to the community. It even will be much clear if releases will be available only on Maven repositories and pla

[2015-11-01 22:38] ZioberMichal opened #79 "Custom escape character"
User should be able to set custom escape character. Currently "quote character" and "escape character" are the same.

Due to [RFC 4180](https://tools.ietf.org/html/rfc4180) paragraph 2.7:

If user change escape character to "[" below should be valid:
[code]

Update "testCustomEscape" test in [ReadingFeaturesTest](https://github.com/super-csv/super-csv/blob/master/super-csv/src/test/java/org/superc

[2015-11-01 22:53] ZioberMichal opened #80 "Split cell to multiple properties"
A split is the ability to split a single cell into multiple `Bean` properties. For example, below file:

we could split into bean with below properties:

Property name | Value
----- | -----
firstName | Hans
middleName |  Christian
lastName | Andersen
country | Denmark
city | Kopenhagen

Update "testSplitCellToMultipleProperties" test in [ReadingFeaturesTest](https://github.com/super-csv/super-csv/

[2015-11-01 22:59] ZioberMichal opened #81 "Join multiple cells into one property"
A join is the ability to join multiple cells into a single `Bean` property. For example, below file:

we could join into bean with below properties:

Property name	| Value
---- | ----
fullName | Hans Christian Andersen
address | Denmark Kopenhagen

Update "testJoinMultipleCellsIntoOneProperty" test in [ReadingFeaturesTest](https://github.com/super-csv/super-csv/blob/master/super-csv/src/test/java/

[2015-11-01 23:03] ZioberMichal opened #82 "Read all lines"
Implement functionality which allow user to read all lines at once.

Update "testReadAllLines" test in [ReadingFeaturesTest](https://github.com/super-csv/super-csv/blob/master/super-csv/src/test/java/org/supercsv/features/ReadingFeaturesTest.java) class.

[2015-11-01 23:10] ZioberMichal commented on #56
I have created new issues which should be implemented:
1. https://github.com/super-csv/super-csv/issues/79
2. https://github.com/super-csv/super-csv/issues/80
3. https://github.com/super-csv/super-csv/issues/81
4. https://github.com/super-csv/super-csv/issues/82

Also, I have asked to update [Comparison matrix](http://csveed.org/comparison-matrix.html) in this task https://github.com/robert-bor/CS

[2015-11-01 23:10] #56 closed

[2015-11-01 23:15] ZioberMichal commented on #26
I have created new issues which should be implemented:
1. https://github.com/super-csv/super-csv/issues/79
2. https://github.com/super-csv/super-csv/issues/80
3. https://github.com/super-csv/super-csv/issues/81
4. https://github.com/super-csv/super-csv/issues/82

Tasks like:
1. bean in original context
2. single facade

we can skip for now because they need additional explanation what should be do

[2015-11-01 23:17] ZioberMichal commented on #72
Hi @WalsonRene, do you still need a help with this?

[2015-11-02 14:04] ZioberMichal commented on #14
This issue is similar to https://github.com/super-csv/super-csv/issues/79 and related to https://github.com/super-csv/super-csv/issues/77. We should really think about how to implement it properly.

[2015-11-05 07:40] pietroaragona commented on #13
@kbilsted  I'm working on this issue.
In order to avoid that more people work on the same issue, can you assigne it to me?

[2015-11-05 08:25] kbilsted commented on #13
I can't assign you unless you join the csv team. I think you are safe having adressed you working on the item here.  You are certainly welcome to join the team after having done a bit of work or helping people with questions. Eg  on SO

[2015-11-06 13:07] nagraj321 opened #83 "Issues with Trim and Truncate"
I'm facing a problem while triming and truncating the values using super csv.
Sample text: TC_VS 04\tUpdate Payment Term on existing Contract - Standard Master Agreement - Subagreement:TC_VS 06\ntest..\ntest.

I need to remove all the spaces and if the text is greater then the specified length then i need to truncate it. But is it not trimming it.

Out put:

**Line No 1** "TC_VS 04	Update Payment

[2015-11-06 15:55] #83 closed

[2015-11-06 18:14] kbilsted commented on #83
Why  did you close the ticket

[2015-11-09 00:26] jamesbassett commented on #78
I agree that the current 'downloading' page has more than enough info, and that it's safe to no longer upload releases to SourceForge.

Just in case anyone is tempted to delete the SF project just remember that:
* the old website is still hosted there (each page redirects to it's GH equivalent) so links all over the net aren't suddenly broken
* the donation URL still goes there (the maven site plu

[2015-11-10 20:25] kbilsted commented on #69
Closing.. no reaction from asker

[2015-11-10 20:25] #69 closed

[2015-11-16 14:09] pkalwar commented on #67
@kbilsted i have deferred the idea of having custom msg for now. But if i badly need it later, i'll see to implement it.
Thanks.

[2015-11-17 12:20] kbilsted commented on #67
closing. If any one have strong feelings towards doing this please re-open.

[2015-11-17 12:20] #67 closed

[2015-11-19 10:19] freyrsae opened #85 "Method which returns the lines of a CSV file as a Java 8 stream"
I am thinking of something very similar to the lines method of BufferedReader: [link] (https://docs.oracle.com/javase/8/docs/api/java/io/BufferedReader.html#lines--)

Would be very helpful to enable working with the lines in a parallel way.

[2015-11-19 17:51] kbilsted commented on #85
Please note, that this requires all the cell processors are thread safe - at least the ones that deal with data from multiple rows such as the unique processor. But apparently, also date parsing requires synchronization.

[2015-12-02 23:36] inglor opened #86 "Java 8 Language level ICsvBeanReader method invocation"
With JDK 8 I get an IDE error when using the `ICsvBeanReader.read(Class<T>, String[], CellProcessor[])` method. This is probably caused from the new JLS chapter about Invocation Applicability Inference [1].

If I switch to JDK 7 there's no error. This is observable even if I just change the source and target language level to 7.

The image shows the error
![jls8](https://cloud.githubusercontent.co

[2015-12-03 11:26] inglor commented on #86
This syntax works fine in both 7 and 8

`while((customer = beanReader.<CustomerBean>read(CustomerBean.class, header, processors)) != null) {`

[2015-12-03 13:37] kbilsted commented on #86
Hi @inglor

Great finding! Are you able to send a pull request ?

[2015-12-03 14:31] inglor commented on #86
I'm not sure if the source code needs some change to be honest. After reading through some various SO posts [1], [2] related to that it's the way that you call the method which needs to change as I indicated above.

I'd surely change the example but that's it I think.

[1]: http://stackoverflow.com/questions/32294140/java-8-reference-to-method-is-ambiguous?lq=1
[2]: http://stackoverflow.com/questi

[2015-12-04 17:54] nhajratw commented on #14
IMHO -- this should be supported. Regardless of whether it is *right* for backslash escaping in CSV files, the fact is that there are many files that need processing that come in this way generated by third parties, and not supporting it requires people (i.e. me) to switch to a different parser.

[2015-12-04 23:47] ZioberMichal commented on #86
Good to know, I will take a look on this next week.

[2015-12-16 11:45] nagraj321 opened #87 "Delete File"
Just want to know whether we can delete a file using supercsv.

1. First created the ICsvBeanWriter
2. Write the data using ICsvBeanWriter
3. Close the ICsvBeanWriter

even if the data is not available in the step 2 we are creating the file and their is not way to delete the file.

any idea how can we achieve this?

Thanks,
Nagaraju

[2015-12-16 21:20] kbilsted commented on #87
HI i'm not fully sure i understand the problem. Try submitting some Java code for how you think you could use the framework. Why not simply delete the file yourself? why start wrtiting to a file before you check if you have data to write?

[2015-12-17 22:33] ZioberMichal commented on #87
`ICsvBeanWriter` is just an abstraction for writing any bean as CSV row. `CsvBeanWriter` class pushes CSV `String` to `Writer` object which is given in constructor. You probably uses [FileWriter](https://docs.oracle.com/javase/7/docs/api/java/io/FileWriter.html) class which creates file at the beginning.
You have two solutions:
1. You can use [StringWriter](https://docs.oracle.com/javase/7/docs/ap

[2015-12-17 23:06] ZioberMichal commented on #86
In cases like this user should explicitly tell to Java compiler in version 7 and 8 "hey I need this type" using this syntax: `reader.<TypeName>read(...)`. Actually, we do not have to reimplement this method signature. I think we can close this issue.

[2015-12-17 23:06] #86 closed

[2015-12-21 11:01] kbilsted commented on #87
+1 @ZioberMichal

[2015-12-21 11:01] #87 closed

[2015-12-30 13:33] email2vimalraj commented on #47
I am in love with this library. I would like to contribute on any issue. I'm not an expert in java, but would take the issues which I can easily to start with my part of contribution to super-csv community. Thanks.

[2015-12-30 17:56] kbilsted commented on #47
@email2vimalraj  great! just pick something from the issue list or add your own issues

[2016-01-13 13:10] pkalwar commented on #65
hello, any news yet?

[2016-02-02 22:02] puntogil opened #89 "Source files without license headers"
Hi
The following source files are without license headers:
super-csv-2.4.0/super-csv-java8/src/main/java/org/supercsv/cellprocessor/time/AbstractTemporalAccessorFormattingProcessor.java
super-csv-2.4.0/super-csv-java8/src/main/java/org/supercsv/cellprocessor/time/AbstractTemporalAccessorParsingProcessor.java
super-csv-2.4.0/super-csv-joda/src/main/java/org/supercsv/cellprocessor/joda/AbstractJodaF

[2016-02-06 10:06] VinhHungNguyen opened #90 "NoClassDefFoundError occurs in CsvDozerBeanReader"
Hi,
I get this error when I use CsvDozerBeanReader. It seems that the DozerBeanMapper class is missing. I would like to know how to fix it. The crash log is below.
Thanks for your help.

FATAL EXCEPTION: main
                                                                                     Process: com.zappasoft.csvreflectionresearch, PID: 26380

[2016-02-08 10:59] jamesbassett opened #91 "DING!"
Hi guys, just wanted to say congrats on 100 stars :)  I think the move to GitHub has definitely paid off.

[2016-02-12 15:40] kbilsted commented on #91
:+1:

[2016-02-21 23:25] ZioberMichal commented on #91
Definitely GitHub is a good choice. :+1:

[2016-02-21 23:28] ZioberMichal commented on #90
Hi @VinhHungNguyen,
   do you still have a problem with this? You should try to add required library explicitly to your project. I do not know what are you using to build your project but I would like to help you with this error.

[2016-02-21 23:51] VinhHungNguyen commented on #90
Hi @ZioberMichal ,
I put the super-csv-2.4.0.jar and super-csv-dozer-2.4.0.jar into the libs folder. I can use the core Super CSV normally. This problem only happens when I use the dozer.

[2016-02-22 06:55] ZioberMichal commented on #90
Do you use [Maven](https://maven.apache.org/index.html) or any other project build-and-management tool? Pom for "super-csv-parent" project defines below dependency:
[code]
You have to also add this library to your Android project. You can find required jar on this page: http://mvnrepository.com/artifact/net.sf.dozer/dozer

Please let me know whether it works for you.

[2016-02-22 06:57] ZioberMichal commented on #89
Hi @puntogil,
    thanks for showing this bug. We will add licence to these files.

[2016-02-23 17:55] loloq123 commented on #31
I think that our buddy here was referring to the error messages shown when a constraint or parser fails, currently all the messages are hard coded in English and there is no way to overloading them, i.e. I18N' them.

Take for instance org.supercsv.cellprocessor.ParseLong, when the input value fails to be converted to a Long value this code is executed:

`throw new SuperCsvCellProcessorException(St

[2016-02-23 20:49] kbilsted commented on #31
Hi @loloq123

that clarifies a bit. Is it something you would be interested in implementing?

[2016-02-24 00:10] loloq123 commented on #31
Do you mean being me who do the changes in the code? Alright!

I'm thinking on using this:

https://murygin.wordpress.com/2010/04/23/parameter-substitution-in-resource-bundles/

so all the messages will be defined on a properties file which can be
overloaded, defaults being the current ones.

If so, how should I proceed?

2016-02-23 14:49 GMT-06:00 Kasper B. Graversen <notifications@github.com>:

[2016-02-24 07:21] kbilsted commented on #31
hi @loloq123

Sounds great! Here are of the top of my head requirements for the solution

* be able to substitute dynamic values as you point out in the blog entry
* have one or several configuration files with translations
* allow users to define their own translation files without interacting with the official project
* add as parameter an argument for selecting a specific translation file / or

[2016-02-24 19:45] fseifert opened #92 "Add support for non-public beans"
Currently only beans with access level "public" can be used in CsvBeanReader.
Looking at CsvBeanReader class shows clazz.getInstance() for the constructor and method.invoke() for the setter.
I have just tested replacing this with the code in the attachment, basically its finding the default constructor by reflection and invoking both constructor and method with ensuring access by calling c.setAcce

[2016-02-25 09:54] ZioberMichal commented on #92
Hi @fseifert,
    your changes should not break anything but mainly `CsvBeanReader` works with `POJO` classes which by default should have public default constructor and public getter/setter methods. In my opinion client-developer should understand that these classes which he wants to read in CSV should be "valid".
I am interesting how `Hibernate` or `Jackson` libraries treats situations like this

[2016-02-25 09:55] ZioberMichal commented on #90
Hi @VinhHungNguyen, did it help? Can we close this issue?

[2016-02-25 11:30] longtimeago commented on #47
@kbilsted I also don't mind to join if still needed :)

[2016-02-25 11:34] longtimeago opened #93 "[Java8] ICsvBeanWriter could receive a collection of function references instead of names"
This should make it ICsvBeanWriter fail in compile time if bean field name was changed due to refactoring.

Now it fails in runtime :( too late

[2016-02-25 13:27] kbilsted commented on #47
@longtimeago  I can't see why not ;) I see you already have  an idea in the open - I think its a great idea to expand the API that utilizes the new features of java.

[2016-02-25 13:46] VinhHungNguyen commented on #90
Hi @ZioberMichal ,
Sorry, I was busy. I use Android Studio for the project. I tried adding the dozer-5.x.x.jar to the libs folder, but it does not work.

[2016-02-25 16:30] fseifert commented on #92
Hi @ZioberMichal,
According to [http://www.javalobby.org/java/forums/m91937279.html#](url) and here [https://hibernate.atlassian.net/browse/HV-331](url) and here [https://github.com/hibernate/hibernate-orm/blob/1e44e7420b7af10adc9547a461f02a6d979624f1/hibernate-core/src/main/java/org/hibernate/property/access/internal/PropertyAccessEnhancedImpl.java](url) at least Hibernate seems to use that featu

[2016-02-25 16:53] ZioberMichal commented on #92
Thanks for additional explanation! :+1:

In this case I think it would be a valuable patch. Try to create new PR and with these changes.

[2016-02-25 16:56] ZioberMichal commented on #93
:+1:

It wold be a valuable patch.

[2016-03-02 09:21] arnaud-web opened #96 "Encoding UTF-16LE not recognized"
I am triying to write a file with UTF-16LE encoding.

Here is my code :
`
private CsvPreference csvPreference;
`
....
`
String charsetValue = "UTF-16LE";
`
`
ICsvListWriter listWriter = new CsvListWriter(new OutputStreamWriter(new FileOutputStream(new File(path)), Charset.forName(charsetValue)), csvPreference);
`
When I open the output file with Notepad ++, the encoding is not detected as UTF-16LE

[2016-03-03 02:07] loloq123 commented on #31
Hi, I've submitted a Pull Request a couple of days ago that contains the I18N implementation. Let me know if you have any comments.

https://github.com/super-csv/super-csv/pull/95

[2016-03-04 19:57] longtimeago commented on #93
@ZioberMichal Here is the PR https://github.com/super-csv/super-csv/pull/97

[2016-03-07 18:34] macleodmac commented on #69
There's a close bracket missing, the correct code is:

`private static final CsvPreference ALWAYS_QUOTE = new CsvPreference.Builder(CsvPreference.STANDARD_PREFERENCE).useQuoteMode(new AlwaysQuoteMode()).build();`

Cheers.

[2016-04-12 19:38] #91 closed

[2016-04-15 06:49] nagraj321 opened #98 "Round the number and Trunkating string"
I have the data in database with morethan 2 decimal points for the price, while preparing the csv file i need to round the price to max 2 decimal points.

Do we have the functionality to round the number using cell processors? If yes, please let me know how to achieve this?

Also i need to truncate the one of the column to send max of 60 chars and i'm using the CsvPreference.TAB_PREFERENCE to prep

[2016-04-19 18:27] rbotafogo opened #99 "ParseBool does not support internationalization"
If I pass to ParseBool the faseValues = ["não"] this is not recognized as false.  It does not like the tilda on the a.

[2016-05-01 06:38] mygreen opened #100 "Not implemented StringCellProcessor with ParseZoneId/ParseDuration/ParsePeriod"
Parsing CellProcessor for Java8 classes,  should be implemented interface ``StringCellProcessor`` with ``ParseZoneId/ParseDuration/ParsePeriod``.

then, cannot building CellProcessor with trim.

[code]

[2016-05-03 16:37] ZioberMichal commented on #99
Hi @rbotafogo.
Text "não" is not commonly used as `false` so by default it is not recognised. But you can extend false values using `ParseBool` constructor like below:
`ParseBool processor = new ParseBool(new String[]{"Sim"}, new String[]{"não"}, true);`

Please let me know whether it work for you.

[2016-05-04 16:19] rbotafogo commented on #99
Michal,

If I use 'nao' as you suggested, everything works fine; however, 'não' does
not work.  I´m using supercsv inside a JRuby script, so this might be the
reason it is not working, but since 'nao' works fine I´m assuming that
there is something wrong with the '~' in supercsv. This is the result:

org.supercsv.exception.SuperCsvCellProcessorException: 'não' could not be
parsed as a Boolean
proc

[2016-05-04 20:08] ZioberMichal commented on #99
I did some tests with characters-with-accents and all passed successfully. I tested this parser with 'não' and 'NÃO' values and in both cases it works like desired. Are you sure that you do not have any problems with handling UTF-8 characters on JRuby side?

[2016-05-04 20:16] rbotafogo commented on #99
No, I´m not sure..... since it did pass your tests, then I should check the
way JRuby is passing the data.  Sorry for the trouble and thanks for your
support.  I´ll let you know when I have any news.

Thanks again!

2016-05-04 17:08 GMT-03:00 Michał Ziober <notifications@github.com>:

--
Rodrigo Botafogo
Integrando TI ao seu negócio
21-3010-4802/11-3010-1802

[2016-05-04 21:24] rbotafogo commented on #99
Michal,

You are right (of course).  The script works on bash shell, but does not
work on Emacs.  So, it is a problem with the character encodings and not
with super_csv.

Again, thanks for your help.

2016-05-04 17:16 GMT-03:00 Rodrigo Botafogo <rodrigo.a.botafogo@gmail.com>:

--
Rodrigo Botafogo
Integrando TI ao seu negócio
21-3010-4802/11-3010-1802

[2016-05-04 21:25] ZioberMichal commented on #99
No problem. I glad I could help.

[2016-05-04 21:26] #99 closed

[2016-05-08 15:06] ZioberMichal commented on #90
Strange behaviour. Have you solved it or you still have this problem? If yes please let me know. I also need a full list of libraries related with `Dozer` and `Super CSV` projects.

[2016-05-08 21:31] ZioberMichal commented on #93
Idea was implemented and merged to trunk.

[2016-05-08 21:31] #93 closed

[2016-05-15 22:41] jamesbassett commented on #100
Also applies to the joda module

[2016-05-21 21:18] kbilsted commented on #92
Looks nice, is it ok for you to fix the simple formatting and equals issues ?

[2016-05-22 17:32] kbilsted commented on #100
@mygreen  it would be great if you can do a PR for us

[2016-05-22 17:38] kbilsted commented on #98
see https://super-csv.github.io/super-csv/cell_processors.html

there is no processor for rounding. If you write one you are more than welcome to send a PR. It really is very easy to write custom cell processors. See https://super-csv.github.io/super-csv/examples_new_cell_processor.html

[2016-05-23 07:43] nagraj321 commented on #98
[RoundNumber.txt](https://github.com/super-csv/super-csv/files/276983/RoundNumber.txt)
@kbilsted Attached file contains on how to implement the rounding the numbers using BigDecimal. Kindly check and let me know if i need to make any other changes..

E.g: new RoundNumber(2, BigDecimal.ROUND_HALF_UP);

[2016-05-23 08:26] kbilsted commented on #98
I'd prefer to recieve it as a Pull request.

A few quick notes. Change the namespace, add the standard header, use the formatting as the rest of the code

[2016-05-23 19:20] kbilsted opened #102 "document the new Preference to distinguish between null and empty columns"
The code from https://github.com/super-csv/super-csv/pull/84 was merged in without changes to the documentation. We need the documentation

[2016-05-23 21:55] ash211 commented on #14
This would be very helpful -- if SuperCSV intends to support all CSV files, including "near-CSV" files that  don't precisely meet RFC4180, then this is a must.  It's a very common export format for tools that don't adhere to the CSV spec.

[2016-05-23 22:16] ZioberMichal commented on #90
Mainly this question is not related strictly with project but with building app on Android and looks like solved now.

[2016-05-23 22:16] #90 closed

[2016-05-23 23:47] ash211 commented on #47
I just submitted a PR at https://github.com/super-csv/super-csv/pull/103 and am happy to do a little tit-for-tat work on this project to get my PR merged.

Is there anything I can do for folks in exchange for getting code review on my PR from e.g. @kbilsted or @jamesbassett ?  I'm happy to do a ticket review to try to clear out old stuff, fill in some docs where people think they're lacking, or do

[2016-05-23 23:53] ash211 commented on #79
Should close this as a dupe of #14

[2016-05-24 06:12] kbilsted commented on #14
@ash211  are you willing to give it a try at implementing something? Feel free to first discuss the design before the coding

[2016-05-24 06:15] #79 closed

[2016-05-24 06:15] jamesbassett commented on #14
waits for Kasper to notice #103........

[2016-05-24 06:15] kbilsted commented on #14
As mentioned in https://github.com/super-csv/super-csv/issues/79#issuecomment-221129394 we should make the escaping customized

[2016-05-24 06:18] kbilsted commented on #14
@jamesbassett hey I just got up and am at work now (8 am here) so pleeease allow me more time to pick up stuff ;)

[2016-05-24 06:35] kbilsted commented on #47
@ash211  sounds good. At the moment it is @ZioberMichal  who is doing all the heavy lifting. I'd gladly review your code changes and welcome you review others' PR's. Im sure we can all learn from each others points of views.

Are you asking for initial tasks to do ?

[2016-05-24 07:14] ash211 commented on #47
I've got one task in progress that I'm selfishly interested in seeing through to completion - #103 - and am offering to do another similarly-sized task as a "pay it forward" to the community.

[2016-05-24 07:18] ash211 commented on #72
Given that we haven't heard from @WalsonRene in 6 months now I'd move to close this ticket.

[2016-05-24 07:21] ash211 commented on #4
Given that version 2.4.0 was released in Oct 2015 (after the above comment) @adamkrez should now be able to use a published version without building from source.

Does setting multiline-max to 1 cover your needs?

[2016-05-24 08:20] kbilsted commented on #47
@ash211  yeah thats how this project has always run - doing the things one think is fun to do ;)

[2016-05-24 08:23] #72 closed

[2016-05-24 08:26] kbilsted commented on #4
@ash211  is multiline max properly documented? if not we need an issue for this and then we can close this ticket after that investigation

[2016-05-24 15:22] adamkrez commented on #4
@ash211 Yes this covers my needs. Thank you!

[2016-05-24 18:20] fseifert commented on #89
I have put a PR for this topic.
I have just used the license header used in nearly all code files. Since all those changed files initially had no license header, it think its just ok to use the "standard" header.

[2016-05-24 19:18] #89 closed

[2016-05-24 19:20] kbilsted commented on #92
fixed by PR

[2016-05-24 19:20] #92 closed

[2016-05-24 21:20] ZioberMichal commented on #96
Hi @arnaud-web, do you still have a problem with encoding? I am not sure what documentation for your version of Notepad++ says but maybe this is just how it works? Have you tried read written data and check whether everything is OK? Please, let me know what is the status of this problem.

[2016-05-24 21:31] kbilsted commented on #47
@longtimeago  how are you doing? Find anything interesting to start poking at?

[2016-05-24 21:34] kbilsted commented on #96
@arnaud-web  Im not sure we try to do clever stuff with the encodings. what happens if you save a simple textfile using

    String charsetValue = "UTF-16LE";
    w = new OutputStreamWriter(new FileOutputStream(new File(path)), Charset.forName(charsetValue))
    ...

and opening the file in notepad++ ?

[2016-05-25 05:46] longtimeago commented on #47
@kbilsted I'm fine, thanks! Just pretty busy on my main job now, sorry

[2016-05-25 06:52] kbilsted commented on #47
@longtimeago  I know the feeling ;) Let us know when you (if ever) get more time on your hands ;) I'll delete the comments as to keep this thread down in size

[2016-05-25 06:58] longtimeago commented on #47
@kbilsted thank you for understanding!

[2016-05-25 16:06] benlwong commented on #65
I currently have an exact need for this. I was evaluating a bunch of CSV libraries and would love to use Super CSV if it weren't for this feature. OpenCSV has this feature but it doesn't support something like CellProcessors. It would be awesome if someone resolve/finish implementing this issue.

[2016-06-06 19:52] kbilsted opened #106 "Confusing test"
https://github.com/super-csv/super-csv/blob/master/super-csv/src/test/java/org/supercsv/io/TokenizerTest.java#L41  looks really odd.. who when and why? shouldn't we inline this variable (get rid of it)

[2016-06-08 06:15] #14 closed

[2016-06-08 08:40] ash211 commented on #14
@kbilsted can you please mark this ticket as Milestone 2.5.0?  Are there other things you won't done besides https://github.com/super-csv/super-csv/issues?milestone=4 before releasing?

[2016-06-08 11:51] kbilsted commented on #14
@ash211  thanks.. not sure we have any plans for exactly what goes into 2.5

[2016-06-08 11:52] kbilsted commented on #78
@jamesbassett  the donations have equaled $10 in total. So not really a problem :)

[2016-06-08 12:18] jamesbassett commented on #78
And that was probably one person! We certainly don't do open source for the money :)

[2016-06-08 13:06] kbilsted commented on #78
@jamesbassett  I do... and Im poor ;-P

[2016-07-01 06:09] ash211 commented on #77
One concern with this is that the library will no longer read data that it used to support reading, so it could appear as a regression to some users.

Are we willing to tighten our input data specification in a way that might break some of our users?

[2016-07-01 17:04] kbilsted commented on #77
@ash211 we can always put more configuration flags in the configuration class ;)

[2016-08-10 02:57] anbui08 opened #109 "[Help] the output csv file has a messed up rows"
Hi everyone.
I am stuck in with the below problem. Could anyone help me to figure out the cause  ?

※My problem:
- My CSV header has 9 columns
-There is a line which missing a comma dilimiter (,) between two fields, so that line become a 8-columns line
- The messing line is occur randomly, not exact the same line for every exporting (the data is not change).

※Here my code:
① CSV Writing function

[2016-08-12 07:33] geosmart opened #110 "how to correct format a long numeric string?"
I set the header like this

[code]

and the data ：
`Object[] row=new Object[]{"2984303180499968","john","male"};`

But  the generateed csv file
treat **long numeric string**(2984303180499968) as **scientific notation**(2.9843E+15) !

how can I define the cell format just like the poi does：`row.createCell(j).setCellValue((String) rowData[j])`

[2016-09-05 08:51] arnaud-web commented on #96
Hi,

Thanks for your responses.

Actually, I found a solution :

`Writer writer = new OutputStreamWriter(new FileOutputStream(new File(path)), charset);

if (StandardCharsets.UTF_16LE.name().equals(this.preferences.getEncoding())) {
    writer.write("\uFEFF");
 }`

Not elegant but it works.

I close the topic.

[2016-09-05 08:51] #96 closed

[2016-09-07 21:02] ash211 commented on #102
@kbilsted I took a first crack at this in the above PR -- this is the last thing blocking the 2.5.0 release and I'd like to get that out shortly so I can more easily take advantage of the quote escape parsing contribution I made a few months ago.

Once we get this merged, can we cut the 2.5.0 release?

[2016-09-30 06:30] #102 closed

[2016-10-11 09:47] kiranraacharya opened #113 "How to find and delete duplicate rows in CSV"
Please help me to find duplicate rows and delete.

[2016-10-11 16:14] ash211 commented on #113
Deduplicating data is outside the scope of the super-csv package, which just aims to parse CSVs into a more structured form (Map, List, POJO, etc).  I think this question is better suited for a stackoverflow-style discussion like [this SO post](http://stackoverflow.com/questions/14071791/how-to-remove-duplicate-rows-from-a-csv-file).

[2016-10-11 18:27] kbilsted commented on #113
👍

[2016-10-11 18:27] #113 closed

[2016-10-20 13:37] Forage opened #114 "Append to existing file"
Is there a way to append to an existing CSV file instead of overwriting it? Adding "true" to the `FileWriter()` as a second parameter would only do the trick if you wouldn't output a CSV header line.

Please consider this a feature request when it's not possible at the moment.

[2016-10-22 21:02] ZioberMichal opened #115 "Release new version"
@kbilsted, @ash211 - next release is coming. I think that next version could be "2.5.0". What do you think?

[2016-10-23 12:53] kbilsted commented on #115
we could start using semantic versioning :) but 2.5.0 is fine by me

[2016-10-24 17:28] jamiebaggott commented on #100
I think that this issue can be closed now, or is more work required?

[2016-10-24 17:58] kbilsted commented on #100
:+1:

[2016-10-24 17:58] #100 closed

[2016-10-25 18:23] ash211 commented on #115
Agreed, 2.5.0 feels like a better fit than the alternatives of a minor
point release (2.4.1) or a major release (3.0.0)

On Sat, Oct 22, 2016, 14:02 Michał Ziober <notifications@github.com> wrote:

[2016-10-25 18:58] kbilsted commented on #115
If there are breaking changes i like it to be 3.0

[2016-10-26 18:37] jamiebaggott commented on #98
While there may not be a `CellProcessor` specifically for rounding, the described function above is currently possible. `FmtNumber` can be used for rounding by passing in an appropriate `DecimalFormat` with a `RoundingMode`. If the number is required to be a `BigDecimal`, as it appears to be in the above text file, `ParseBigDecimal` can then be chained.

[2016-10-26 20:06] kbilsted commented on #98
@jamiebaggott  nice. Feel free to update the documentation examples or the code documentation as a PR ;)

[2016-10-26 21:27] ZioberMichal commented on #115
Thanks for the conformation. Next version is 2.5.0. Please give me few days I have to remind how I release previous version.

[2016-10-29 11:29] #98 closed

[2016-11-02 03:16] geosmart commented on #110
anyone knows?

[2016-11-14 22:32] wkrick commented on #47
@kbilsted I want to submit a new cellprocessor but GitHub is proving to be a very steep wall to climb just to submit 25 lines of code.

[2016-11-15 07:19] kbilsted commented on #47
Just post it here then:)

[2016-11-15 14:21] wkrick commented on #47
I've attached the cellprocessor.  Basically, it's a way to work around values that might have leading zeroes like ZIP codes.  It wraps the text with double quotes with an equals sign prepended like this...

="08109"

...this prevents the leading zeroes from getting lost when opening the CSV.  I'm not totally sure of the mechanics of how it works, but I think that it's forcing Excel to treat the fi

[2016-11-17 18:23] adam000 opened #116 "Feature request: lines with only commas should be skipped by the parser"
## Business use case

Client downloads CSV, "deletes" a line in Excel by individually removing the values from the cells, and saves. The CSV now has a line in it like so (assuming there are 4 columns):

[code]

Now ordinarily that first column is required for my use case, but totally empty rows should just be totally ignored. Currently, this empty line will throw an exception and the file fails to

[2016-11-18 14:52] kbilsted commented on #116
Sounds reasonable that readers may allow "holes" in the input files. Is it something you want to drive an implementation for? Feel free to discuss design up front

[2016-11-23 16:05] adam000 commented on #116
I don't think I have time to tackle this in the immediate future but I may work on it if I find the time :)

[2016-11-26 21:38] kbilsted commented on #115
@ZioberMichal  any news?

[2016-11-29 20:17] ZioberMichal commented on #115
Sorry, in meantime when I was not in project I had changed computer and had to set up new dev environment but I am really close to finish. Today I will try to generate new version but first I have to set up PGP app. I will be informing. Sorry for delay!

[2016-11-30 12:01] kbilsted commented on #115
@ZioberMichal  no problem. We all have lives outside this project ;) is there a step-by-step description of what needs be set up in the repo in order to be a release manager? Last  I looked I didn't find it..

[2016-12-04 21:17] ZioberMichal commented on #115
We have something like this: https://github.com/super-csv/super-csv/wiki/Performing-a-release. I have set up new dev environment but now I have to remind how to work with GIT on GitHub :) (In day to day work outside open source projects I use Mercurial)

[2016-12-06 09:28] kbilsted commented on #115
Use gitextensions it's a cool app :-p

[2016-12-09 16:01] TheNilesh opened #117 "AbstractTokenizer should have protected members"
As per doc

However we have to rewrite all methods other than `readColumns()` because they are declared private.

[2016-12-10 23:03] jamesbassett opened #118 "Document Java 8 processors"
The list of Java 8 cell processors [on the website](http://super-csv.github.io/super-csv/cell_processors.html) is a little bit short and [people](http://stackoverflow.com/q/41069953/1068649) don't know what's actually supported.

[2016-12-11 14:06] TheNilesh commented on #117
See my implementation of [RejectNonEscapedQuotesTokenizer.java](https://github.com/TheNilesh/super-csv/blob/master/super-csv/src/main/java/org/supercsv/io/RejectNonEscapedQuotesTokenizer.java)
I wanted only single feature but I had to copy all the private methods from super class.

[2016-12-11 18:16] TheNilesh commented on #77
@harel-e Consider using [RejectNonEscapedQuotesTokenizer.java](https://github.com/TheNilesh/super-csv/blob/master/super-csv/src/main/java/org/supercsv/io/RejectNonEscapedQuotesTokenizer.java)

[2016-12-12 13:11] ilvez opened #119 "Extending supercsv cell processor implementation generate warning"
Extending some Super CSV cell processor generates `unchecked` warning.

For example:

    import org.supercsv.cellprocessor.FmtNumber;

    public class CustomFmtNumber extends FmtNumber {
        public CustomFmtNumber(String formatter) {
            super(formatter);
        }
    }

When compiled with `-Xlint:unchecked` produces following warning:

    CustomFmtNumber.java:5: warning: [unchecke

[2017-01-10 07:47] nelson-liu opened #121 "Parsing CSV Files with strings that may contain \r\n and \n"
Hi!
Thanks for your work on super-csv, it's a great library.
I was wondering if it was possible to parse a file that has a field with carriage returns, e.g.:

[code]

becomes
[code]
where `|` indicates splitting.
It seems like wrapping readers in a `BufferedReader` before passing them into super-csv eats up the `\r`...is there any way to keep those around?

Thanks

[2017-01-29 14:03] imkrmgn commented on #13
Nice to meet you. Everyone.

It is my first time to use github. Also, I am also talking in English for the first time.

I sent a PR #122 on a problem similar to this topic.
I am glad if you give us your opinion.

[2017-02-17 22:39] #121 closed

[2017-02-22 00:20] aadrian opened #123 "Support for public fields!"
Please add support for public fields (without getter and setter) in the Bean processors!

Thank you.

[2017-02-22 01:10] aadrian opened #124 "CellProcessors as Map?"
Hi,

Is it possible to have the CellProcessors passed as a Map? (As as an alternative to an Array?)

The ```key``` could be the column name (like defined in the header) and the ```value``` as already defined in the Array?

This would be very usable when there are allot of columns and the defaults are good, except a few columns?
e.g.
Instead of:
[code]
something like:
[code]

Also as an alternative

[2017-02-23 15:44] rahij opened #125 "Consider releasing 2.5?"
Hey folks, I'm trying to pick up this commit: https://github.com/super-csv/super-csv/pull/103, but it seems like there hasn't been a release after that change. Do you have a timeline on when the next release could be? Thanks!

[2017-02-23 20:20] ash211 commented on #125
Duplicate of #115

[2017-02-23 22:22] kbilsted commented on #125
@ZioberMichal  Any progress with the releases? :-)

[2017-02-23 22:22] #125 closed

[2017-03-07 20:46] aadrian opened #126 "Convert APT docs to Markdown?"
Hi,

APT seems quite an abandoned format. Are there any plans moving to Markdown, so that more people can contribute to the docs?

Thank you.

[2017-03-07 20:52] kbilsted commented on #126
The documentation was driven by a former member who is no longer active on the project.

Before any conversion, what are the current struggles you are facing with updating the documentation?

[2017-03-07 20:57] aadrian commented on #126
- missing of a decent editor
 - not possible to edit and preview (mostly for small stuff) using the GitHub UI
 - extra step to generate a PDF
 - nobody is using that format anymore, whereas Markdown seems to be used everywhere these days.

just to mention a few.

[2017-03-07 21:12] kbilsted commented on #126
Do you want to be in charge of the conversion?

[2017-03-07 21:14] aadrian commented on #126
Yes.

[2017-03-07 21:17] kbilsted commented on #126
Sounds great!! :-)

Before undertaking the task, consider if there are any processes such as relase notes or referencing code files or other things in the existing documentation format that will be more error prone or manual with the conversion? Like does the compilation step of the documentation guarantee valid links and consistency?

[2017-03-07 21:23] aadrian commented on #126
I'm not aware of such a thing. If the source file (markdown or whatever format) contains a 404 link, the output will also contain a 404 link.

There are however tools to check if all links work, but I'm not aware of any working with Maven.

[2017-03-07 21:25] kbilsted commented on #126
how are you planning on converting the menus and stuff?

[2017-03-07 21:28] aadrian commented on #126
Maven supports for building a site not just only APT, but many other formats too, Markdown being only one of them.

https://maven.apache.org/doxia/references/index.html

[2017-03-07 21:48] kbilsted commented on #126
great

[2017-03-07 21:57] aadrian commented on #126
@kbilsted what about not (yet?) merged pulled requests? They seem to contain have many *.apt changes too.

[2017-03-07 22:54] kbilsted commented on #126
That is a very good point. The problem is that at the moment the project is near a stand-still. People signing up for helping out quickly fade away. I have very limited resources myself to do more than just answering tickets and occasionally reviewing code

[2017-03-07 23:09] aadrian commented on #126
I understand. But what is the status of those pull reuqests? Can't they simply be merged? Or are they going to be rejected? (if the branches start to go apart, than mering results in conflicts with time, or other commits make them generate conflicts)

I could try to help with code (e.g. starting with #123 and #124 ), but what I don't understand yet is what's considered by the Super-CSV Team an acc

[2017-03-08 00:50] ash211 commented on #126
On the point that contributors fade away, I could be considered one of those people so want to provide my perspective.  I think most people drop off (like myself) because even if you get a PR merged, it takes quite some time to see your contribution in a release.

The timeline for my interactions with this project were:
- May 2016 - comment on a bug that I'd appreciate a fix for it - https://githu

[2017-03-08 09:08] aadrian commented on #126
@ash211
Could the issue be that active contributors don't get the rights to directly commit to the Git Repo? and also to the Sonatype group to be able to push releases ? (and this way the overhead is too much for those who still have the rights ? )

Pull Requests are not for active and continuous contributions.

Backwards compatibility is very important since so many projects depend on a given lib

[2017-03-09 21:47] kbilsted commented on #126
@ash211  you are correct that at the moment PR's are dealt with in a too slow pace. But at this point in my life I can't afford the time necesarry

[2017-03-11 16:27] aadrian commented on #126
@kbilsted can you add me (and other users that request) to this GitHub Org, so that we can help?

[2017-03-14 18:50] victori opened #127 "Thread safety issue with CsvPreference"
Affected version: 2.1.0

Using CsvPreference's predefined static preference instances across multiple writers in different threads will cause unexpected write issues due to the DefaultCsvEncoder reusing its StringBuilder instance while encoding the output.

Workaround: Create a unique CSVPreference for each writer instance

[2017-03-21 04:05] vprotasov opened #128 "Handle “,” comma within a field in csv file while reading it"
sample file with 2 columns with users and groups.
User could have just first name or first and last name.
---------------------------
User,Group
John,Legal Team
“John, Black”,Legal Team
---------------------------

Expected
“John, Black” -> John, Black
---------------------------
Getting:
org.supercsv.exception.SuperCsvException: The number of columns to be processed (3) must match the number of C

[2017-03-26 14:31] wujekpinky opened #129 "Write bean to csv with cutom order og header columns"
I'd like to write bean to csv file with my custom header order, which means that I have a bean:
[code]
And I want to control column ordering in output csv, eg it could be order of attribute declaration in a class (or any other way bo not alphabetically as it is default). I'm using `StatefulBeanToCsv`

Actual output:
[code]

Expected output:
[code]

Is it possible?

[2017-03-26 14:32] #129 closed

[2017-03-26 14:32] wujekpinky commented on #129
posted by mistake not on this repo

[2017-04-08 05:26] jamesbassett commented on #126
It's interesting to see how far things have come! Kasper and I don't even write Java these days - he went on to C++ and I'm using Kotlin and haven't looked back since :)

When I joined, the project was on Sourceforge (now a ghost town), built using ant (long since superceded by Maven then Gradle), used subversion, had bespoke documentation generation, and was only available for download from SF. S

[2017-04-08 08:27] aadrian commented on #126
@jamesbassett

No, not that's the real problem: developers submit PRs and they're not reviewed (nor rejected) - just **ignored**,  but the worst: the users don't even get commit rights so that they can do that part themselves :) .

[2017-04-08 09:30] jamesbassett commented on #126
I understand your frustration, but I'm not aware of any OSS projects that give commit rights to anyone but the core team of developers. The usual process (and what happened when I joined) is to simply ask to be a member of the team. Usually that involves proving yourself by getting involved in PRs and answering questions other users have, but in the case of a truly dormant project it might just ha

[2017-04-08 09:48] aadrian commented on #126
@jamesbassett

We are not talking about the Apache Foundation here, but a small project with a few KB of produced artifacts :) .

[2017-05-04 12:02] rkoshy opened #133 "SuperCSV fails if the last line is not terminated with a newline (linux)"
When using SuperCSV, we encountered a strange error where we would get an IllegalStateException after the last line was processed.

I've isolated this to the case where the last line of the CSV does not have a newline.

Correct behavior should be to return a null

[2017-05-04 12:10] rkoshy commented on #133
Stack trace:
[code]

[2017-05-30 09:26] sairahu commented on #13
Hi everyone,

[2017-08-15 21:40] bigalnz opened #134 "Drop Columns"
Hello,

I would like to use this library to manipulate a CSV. I have had a look at the docs but couldn't see this request specifically addressed as a method.

My input CSV has 10 columns, and I need to drop columns 9 and 10, remove the header rows (ie row 1) and then save the file.

Best approach seems to be a beanReader and then a beanWriter to a new file?

How best to go about removal of row 1?

[2017-09-15 03:56] myselfandyi commented on #47
有没有操作csv文件的框架啊？

[2017-09-20 01:49] zendu commented on #85
BufferedReader.lines() method returns serial stream (not parallel). Using a Stream<T> is lot easier than reading objects into a List<T>. If not for parallel, serial execution could certainly benefit from this change.

[2017-09-20 14:37] bcrosen commented on #116
I wrote this input stream filter to work around the problem. Hope it helps someone:

[code]

[2017-09-20 16:54] kbilsted commented on #116
Many thanks for the code!.

I'd be great with some unittests to ensure correctnes. For example, what happens if a multiline column contains a newline containing only commas? Are they swallowed? or correctly added to the multiline column of that particular row.

[2017-09-20 16:56] bcrosen commented on #116
Here ya go:

[code]

[2017-09-20 17:02] bcrosen commented on #116
I didn't think about multiline columns, This probably will need changed to work with them.

[2017-09-20 19:21] bcrosen commented on #116
I updated the code and the tests above to support multiline columns.

[2017-10-04 22:46] SchlauFuchs commented on #47
If you like you can add me as contributor

[2017-11-09 03:31] jjudd08 opened #135 "String list processor"
Howdy,
I was recently needing to add a list of strings to a CSV file.  The issue was that it was one of many attributes to in the file and could vary in size from row to row, so dozer from what I could see wouldn't work for me.  So I went head and wrote a cell processor for reading and writing the encoded cell.  I wasn't sure where else to send the contributes so I thought I'd send it here.  Someo

[2018-01-09 08:39] ToryZhou opened #136 "org.supercsv.example.Reading is not working"
private static final String CSV_FILENAME = "src/test/resources/customers.csv";
need to as following for idea
private static final String CSV_FILENAME = "super-csv/src/test/resources/customers.csv";

In method getProcessors() need to add
new ParseSqlTime("HH:mm:ss"), // birthTime

[2018-01-15 10:12] ibobak opened #137 "LinkedHashMap needed for CsvMapReader"
I understand this may seem a strange request, but for easier debugging of the application which is using super-csv library  I need to read the csv file, make some transformations, and if some condition doesn't work - to output the result on the screen.

However, CsvMapReader creates a HashMap inside read() method, and the order of added columns is spoiled, which makes it difficult to read what I g

[2018-01-15 11:08] kbilsted commented on #137
Write a processor that uses your required data structure. Feel free to PR it

[2018-01-19 00:58] sharpTrick opened #138 "JDK9: define a stable automatic module name with `Automatic-Module-Name` entry in MANIFEST"
See https://github.com/ReactiveX/RxJava/issues/5618

Currently java 9 attempts to automatically name super-csv "super.csv". As super is a keyword, that obviously just fails.

[2018-02-22 18:36] eximius313 commented on #135
This is very important feature.
Having list (or array) of Strings in POJO is very common use case.
Could this patch be incorporated into core library?

[2018-02-27 08:23] LymanTan opened #139 "Blank space error when reading Chinese"
There is only ONE blank space between two Chinese characters, but the result of reading shows TWO blank spaces.
![image](https://user-images.githubusercontent.com/30873231/36717781-61d21162-1bda-11e8-88dc-03194a4dfc55.png)
original CSV

![image](https://user-images.githubusercontent.com/30873231/36717791-6a3424c6-1bda-11e8-8c3d-57e8b047c686.png)
reading result

[2018-02-27 08:57] kbilsted commented on #139
Great catch! Can you provide an "input file" (ie could be code in a test) and an failing unit test perhaps?

[2018-03-19 19:52] thanateros opened #140 "Write file as plain US-ASCII?"
I've scoured google for days and cannot find a single example of changing the character set of the generated CSV file.

I'm using an `ICSVListWriter` to accomplish this, and it saves by default as UTF-8 however the people I send this file to now wish for it be plain-old 8-bit ASCII.

I have a notion that is probably somewhere in `CsvPreference` but have yet to figure it out.

Anyone know how to ma

[2018-03-20 01:25] imkrmgn commented on #140
`utf-8` is compatible with `us-ascii` if it is within the range of ascii. Therefore, you are not in trouble at the moment right?

If you still want to change the character code, you can do as follows.
[code]

[2018-03-21 13:51] thanateros commented on #140
Thanks!  I implemented that and now I'll see if it works next time I have to generate that file.

[2018-03-22 13:04] thanateros commented on #140
Looks like it worked fine; thanks!

[2018-03-22 13:04] #140 closed

[2018-05-02 17:18] liunewshine opened #141 "Chinese messy code when open with microsoft excel"
![image](https://user-images.githubusercontent.com/7698511/39538570-ced9a320-4e6f-11e8-9af7-0e95f7b62a00.png)

notepad++ is ok
![image](https://user-images.githubusercontent.com/7698511/39538593-db074094-4e6f-11e8-9949-012752831301.png)

[2018-05-08 14:47] rlatela opened #142 "Incorrect bean property"
Hello,

I'm trying to read a CSV file with the header but seems that name of the set method has an character in lowercase:
org.supercsv.exception.SuperCsvReflectionException: unable to find method **set﻿idOrder**(java.lang.Integer)

The name of the bean property is idOrder and the Header is idOrder so the set name of the method should be setIdOrder.

Any suggestion?

Thank you for your support,
Ra

[2018-06-19 14:17] nauni77 commented on #124
Hello,
my intention is a little different. If someone add additional columns to the CSV file It should still work with some old program versions (they don't need this new value at logic). At the moment there is a hard restriction that all columns needs a value inside CellProcessor[] (at least a NULL value). That means if a column is added to CSV files you have to change the old app (even if this a

[2018-06-27 21:32] ptahchiev opened #144 "Why is the CsvContext class final?"
Hello,
I would like to pass some more information to each of my `CellProcessor`. However I can't extend the `CsvContext` because it is marked as final. Is there a reason for this? Can you make it not final?

[2018-06-29 13:54] DarSky24 opened #145 "Write method in CsvDozerBeanWriter"
Hello! In your examples you use write-method with three parametres - object, header, processors. I use 2.4.0 version in my project, but there are only two methods - with 1 parametrs object and with 2 parameters (object, processors) in CsvDozerBeanWriter. Why?

[2018-07-18 18:51] lukaz-sampaio opened #146 "How to get Headers when writing a CSV?"
I have to write a CSV file, except that I have columns that can not be null. I researched the issues and other places on the internet, but I did not find anything that would help me. I want to know is: how do I get the headers by the `SuperCsvConstraintViolationException` exception when the file is being written?
I don't save the generated file. I just export from browser.

[2018-08-23 16:22] ChristianWilkie opened #147 "CsvResultSetWriter header option"
Hi, just want to say I really love using SuperCSV, and especially the CsvResultSetWriter was super useful for me. One request I have is: would it be possible to add some sort of a "flag" or method of optionally writing the ResultSet headers to the output CSV? Sometimes we just want to write the data without the headers.

BTW, I have not thoroughly looked into the code of SuperCSV, but I would be w

[2018-10-22 18:06] Saikiranpasumarthi opened #148 "Reading unidentified characters while reading ellipsis(...) from csv file in unix"
I'm trying to read a file that has an ellipsis(...). Instead of reading ellipsis it's reading unidentified characters while running on UNIX but it is working fine in windows, Can anyone please help me out in resolving the above-mentioned issue. I'm using CSVBeanReader.

[2018-12-10 15:54] kbilsted commented on #47
Hi @tvand  not sure how we would go about it

[2018-12-10 16:32] patric-r commented on #47
@tvand  https://commons.apache.org/proper/commons-csv/source-repository.html is broken

[2018-12-10 19:01] tvand commented on #47
See https://commons.apache.org/proper/commons-csv/scm.html

[2018-12-10 19:09] tvand commented on #47
If you were interested, I could go investigate. AFAIK, an Intellectual property clearance would be needed. See http://incubator.apache.org/ip-clearance/ on how something like this looks.

Bye, Thomas.

[2018-12-10 19:24] kbilsted commented on #47
But the code is already under apache license. And they have another csv implementation incompatible with this one.

[2018-12-10 19:36] tvand commented on #47
Yes and that probably makes it easier. We would never "just take" your code, even if the license said we could. We would rather have you donate it. The ASF prefers to have your written consent. I would offer to organize most of the required steps, if you want.

Bye, Thomas.

[2018-12-10 22:03] kbilsted commented on #47
@tvand  who can contribute that are prevented from contributing today? And why wouldn't they want to contribute today already?

[2018-12-14 08:53] tvand commented on #47
I'm just hoping that people already contributing to commons-csv or using it will be attracted by the significantly more sophisticated features of super-csv - under the umbrella of Apache. I cannot offer more than this hope at this time.

Bye, Thomas.

[2019-01-14 21:50] abhishek-nandgaonkar commented on #77
Hello,

I am facing the same dilemma while importing a CSV, I need to add validations to ensure that the uploaded file complies with all rules set in RFC 4180.

Since this was reported in 2015, and is still Open, I am curious if a fix was ever merged? Is there a plan to fix this bug in the near future?

Or alternatively, is there a workaround to go by with in the meantime?

@harel-e @TheNilesh @kb

[2019-01-15 22:56] tushparmar opened #150 "How to implement no quote mode for all columns?"
My requirement is to write all the data without modifying any part of it so I wrote a custom QuoteMode class

[code]

When I generate CSV quotes are applied to column data with non-alphanumeric or special characters.

[2019-01-16 01:00] abhishek-nandgaonkar opened #151 "Handling of double-quotes to comply with RFC 4180"
I have two CSV files which are processed as true when they should be failing for not complying with RFC 4180.

In the following sample of the file, the double quotes used inside a qualified row should be appended with a double-quote

In the following sample of another file, double-quotes need to be appeneded to the second column since it attempts to use double-quotes in it

Both the above scenario

[2019-02-14 19:10] dkelley93 commented on #138
Has anyone found a solution for this?

[2019-02-14 20:09] sharpTrick commented on #138
I'll work on a solution.

[2019-02-14 21:02] sharpTrick commented on #138
Pull request #152 should fix the issue for everything except super-csv-java8 which appears to introduce package conflict which is a whole other issue.

[2019-04-09 11:24] ptahchiev commented on #144
Any updates on this?

[2019-04-11 17:14] kbilsted commented on #144
it could be made non-final. I need to install Java and maven to move on with this. You may also send a PR and we can do it that way around?

[2019-04-11 17:15] kbilsted commented on #144
have you seen https://github.com/super-csv/super-csv/issues/47 btw?

[2019-04-14 03:06] immaballin247 opened #153 "I just downloaded the zip file and i got a virus warning found a trojan in the zip file"
I just downloaded the zip file  and i got a virus warning  found a trojan in the zip file

![Screenshot 2019-04-13 19 52 34](https://user-images.githubusercontent.com/8071437/56087810-69023a80-5e27-11e9-8a8a-537b8a4fafcc.png)
picture of the warning I got

[2019-04-14 05:41] kbilsted commented on #153
Many thanks for reporting.

Please explain the download steps and url so i can look into this

[2019-04-19 11:12] ayushmandey97 commented on #128
Hey did you resolve this issue?

[2019-04-23 12:18] goxr3plus commented on #153
Maybe he downloaded it from https://en.softonic.com/ (troll face)

[2019-04-23 14:38] kbilsted commented on #153
Who knows. Closing due to missing information

[2019-04-23 14:38] #153 closed

[2019-05-27 13:25] moarcode commented on #47
@kbilsted are you still looking for contributors?

[2019-05-27 19:39] kbilsted commented on #47
@moarcode  yes that would be great. But I don't see you doing any public work for the past 3 years on GH?

[2019-07-16 16:56] Jagpreet10 opened #154 "How to write data for a column having value more than one"

[2019-07-16 16:57] Jagpreet10 commented on #154
I have one file where one column has more than one value .How do i implement this using superCSV?

[2019-07-24 05:41] NanduKMG commented on #65
Hello guys, any update?

[2019-08-23 19:21] DraqueT commented on #138
Could this please be addressed? SuperCsv is still impossible to use in any modular application or compile into a runnable image. I love SuperCsv, but am upgrading my application to Java 12. I will need to find another solution if I cannot use this one. Appreciate all the work done so far!

[2019-09-27 21:39] ptahchiev commented on #138
Yes, +1 on this one.

[2019-10-30 12:16] SGE66 opened #155 "I just downloaded the zip file and i got a virus warning found a trojan in the zip file"
I Downlad latest version from Github using Edge browser via page:

https://github.com/super-csv/super-csv/releases

using following download link:

https://github.com/super-csv/super-csv/releases/download/v2.4.0/super-csv-distribution-2.4.0-bin.zip

I get warning this file contains a virus:

Bedreiging gedetecteerd:Trojan:Java/Tisifi.C
containerfile: C:\Install\SuperCSV\super-csv-distribution-2.4.

[2019-12-02 22:49] LeboyX opened #156 "CsvListReader reads unusual final line of 906 bytes after EOF"
I have a simple CSV file as follows:
[code]
I have code that reads this csv as follows:
[code]

When I run it, I get the following output:
[code]
Obviously, there's not actually a third row in this file. I dug _super_ deep, and it looks like `LinNumberReader`, used by `AbstractTokenizer.readLine()`, returns what's left of its buffer before finally reporting EOF. I took a look, and the "row" I get

[2019-12-02 22:58] LeboyX commented on #156
My exact file content is a little bit different. The above is an example. My particular file has what looks to be some kind of cruft at the end. I'm checking to see if that might be causing the issue.

[2019-12-02 23:05] LeboyX commented on #156
After further review of the exact characters in my file, I have discounted my "cruft" there. There isn't any extra data after the final newline in my file.

[2019-12-02 23:28] LeboyX commented on #156
After further investigation, a filesystem abstraction I have in play, which I had excluded from my initial investigation, proved to be the culprit. My files are not being correctly written to disk in the form I give it; additional bytes are getting written that weren't in the original file.

Attempts to reproduce w/o this abstraction proved fruitless. The API is working as-designed.

[2019-12-02 23:28] #156 closed

[2019-12-13 09:12] robertvazan opened #157 "Fluent getters and setters"
Please add support for fluent accessors in addition to bean-like accessors. Or, alternatively, add support for private fields, which is how JSON parsers handle it.

[code]

[2019-12-13 10:54] robertvazan opened #158 "Automatic name mapping"
Is there a way to automatically map all properties of a POJO with `CsvBeanReader` and `CsvBeanWriter`? Examples in docs laboriously enumerate all properties in the code. If this feature does not exist, would it be possible to add it? Ideally, CSV should be as easy to read/write as JSON.

[2019-12-19 09:39] dota17 opened #160 "Cobertura does not support java 1.8"
The jar cobertura-maven-plugin does not support java 1.8 [#ISSUE21](https://github.com/mojohaus/cobertura-maven-plugin/issues/21), which caused super-csv-java8 project can not to get test  case coverage report. So is it necessary to use other tool(e.g jacoco) instead of cobertura?

[2019-12-23 06:48] dota17 commented on #139
Hi， @LymanTan I tried it locally and didn't find this problem（In my experiment, there is still one blank space in Chinese）. Can you provide detailed scenes at first such as partial code and csv file？

[2019-12-23 06:57] dota17 commented on #155
Hi， @SGE66 ，
Many things about source code in Windows will be warned as viruses（e.g. jar file）, please ignore them. The source code is free of viruses and can run normally without harming the computer.
And do you need more help about super-csv zip file？

[2019-12-23 08:59] dota17 commented on #154
@Jagpreet10 what does you mean one column having value more than one? can you give a exact example？

[2019-12-23 12:36] dota17 commented on #136
Hi，  @ToryZhou
IDEA hé ECLIPSE dǎozhì xiàngmù xiāngduì lùjìng wèntí, xiūgǎi wèi dòngtài huòqǔ xiāngduì lùjìng.
38/5000
IDEA and ECLIPSE caused the relative path of the project, modified to dynamically obtain the relative path.
PR is in https://github.com/super-csv/super-csv/pull/163

[2019-12-24 01:20] dota17 commented on #136
the first bug is cause of the diff between eclipse and idea .

[2019-12-24 01:23] dota17 commented on #136
Hi, @ToryZhou
This problem is caused by the relative path of the IDEA and ECLIPSE projects, and it is modified to dynamically obtain the absolute path. #163 is the PR for this problem.

[2019-12-24 02:00] dota17 commented on #139
Hi, @dota17

[2019-12-24 03:03] dota17 commented on #142
This problem is caused by reading the UTF-8 bom file, and the file header has BOM information。
![image](https://user-images.githubusercontent.com/50514813/71390878-f5166400-263c-11ea-931c-832d11189cf8.png)

[2019-12-24 03:13] dota17 commented on #142
Hi, @rlatela
This problem is caused by reading the UTF-8 bom file, and the file header has BOM information. For UTF-8, the BOM is EF BB BF. For UTF-16, the BOM is FE FF. So when you read the csv file, It is a problem with the header caused by the BOM informatio.
You can solve this problem by converting the file to UTF-8 without BOM format.
I will continue to focus on this issue, Thank you!

[2019-12-24 03:41] dota17 commented on #128
@vprotasov @ayushmandey97
It is seems that “”  above hex is e2809ce2809d but not the "" for right hex 2222.  if change “John, Black” for "John, Black" and use CsvPreference.STANDARD_PREFERENCE will parse the data with no exception

[2019-12-24 06:53] dota17 commented on #142
#164 is the PR fix this problem

[2019-12-24 07:11] dota17 commented on #141
Hello，@liunewshine
How did this file come about? Can you provide a detailed error scenario (with attachments is best)?

[2019-12-24 08:38] dota17 commented on #146
@lukaz-sampaio
I do n’t understand the problem, could you provide a sample？

[2019-12-24 08:48] dota17 commented on #134
@bigalnz
is this example http://super-csv.github.io/super-csv/examples_partial_reading.html couldn't satisfy your scenes?

[2019-12-25 03:24] dota17 commented on #118
#167 is the PR for fixing this problem.
Please close, Thanks!

[2019-12-25 03:29] dota17 commented on #106
#166 is the PR to fix this confusing test. Please close. Thanks!

[2019-12-25 07:23] dota17 commented on #110
Hi, @geosmart
Did you encounter this problem by opening the CSV file through execel?
This problem is not caused by super CSV, but by Excel, because it is normal to open in notpad++. And if you want to avoid this problem, you can use the following methods:
[code]

[2019-12-26 07:05] dota17 commented on #137
Hi, @ibobak
Isn't the order of the columns saved in the header? And what do you mean？

[2019-12-26 07:23] dota17 commented on #141
Hi, @liunewshine
You can convert to UTF-8 with BOM format through notpadd++, and then open it through Excel to avoid this problem.

[2019-12-26 08:12] dota17 commented on #145
Hi, @DarSky24
This is an interesting question. Read the source code carefully and you will find the following.
[code]
As described in Javadoc  “CsvDozerBeanWriter is a powerful replacement for {@link CsvBeanWriter} that uses Dozer to map from a bean to CSV.“
When you use CsvDozerBeanWriter, you first need to use the configureBeanMapping() method to map from a bean to csv. However in CsvBeanWriter,

[2019-12-26 08:14] dota17 commented on #145
Hi, @DarSky24
If you agree with me, please close the issue, Thanks!

[2019-12-28 19:45] #110 closed

[2019-12-29 17:23] kbilsted commented on #137
Close this ?

[2019-12-29 17:24] kbilsted commented on #141
Not a bug but excel visualisation

[2019-12-29 17:24] #141 closed

[2019-12-31 02:35] dota17 commented on #148
Hi, @Saikiranpasumarthi
Can you describe the scene of the problem in detail? It will be better to have code and CSV file attachment. I was not able to reproduce this problem locally.
![image](https://user-images.githubusercontent.com/50514813/71608062-41235480-2bb9-11ea-85f2-a24f2c4b2506.png)

[2019-12-31 03:08] dota17 commented on #133
Hi, @rkoshy
Can  you describe this problem with attachment(e,.g. CSV file code)? I tried on Linux and windows according to your description, but there was no corresponding problem. Thanks!

[2019-12-31 07:16] dota17 commented on #114
Hi, @Forage
As your issue says, you can append to an existing CSV file by setting ```FileWriter()```  second parameter ```true```.
[code]
As for the header line of CSV, you can control it through ```writeHeader()```.  And the overwritting file or appending file is controlled by the ```writer```, the ```writer``` is the parameter of the ```CsvWriter```
. Therefore it is unnecessary and unreasonable

[2019-12-31 07:18] dota17 commented on #114
Hi, @kbilsted
What do you think about this problem?

[2019-12-31 07:50] dota17 commented on #160
Hi, @kbilsted
What do you think of this problem?

[2019-12-31 08:13] dota17 commented on #150
Hi, @tushparmar
What does this question mean? Can you describe the specific scene?

[2019-12-31 09:03] dota17 commented on #135
Hi, @jjudd08 @kbilsted
Can you submit a PR? Or do you agree that I can convert this patch to a PR submission for you?

[2019-12-31 09:09] dota17 commented on #128
Hi, @kbilsted
This is not a problem with super CSV but with encoding. Should it be closed?

[2019-12-31 09:19] dota17 commented on #127
Hi, @victori
What's your problem in using super-csv? Is it the problem that super-csv supports multi-threaded reading and writing?

[2019-12-31 14:02] rkoshy commented on #133
I will try to create a standalone test to re-create the issue.

[2019-12-31 14:04] kbilsted commented on #148
Perhaps the elipsis originate from word or outlook as they change `...` into some ligature symbol of one character?

[2019-12-31 16:24] kbilsted commented on #114
I think it sounds reasonable to be able to append to an existing file :-)

[2019-12-31 16:27] kbilsted commented on #160
What do you suggest as a solution  @dota17 ?

[2019-12-31 16:29] kbilsted commented on #150
I think he posted it for future use for others to enjoy. I'm thus closing it

[2019-12-31 16:29] #150 closed

[2019-12-31 19:24] kbilsted commented on #128
So the quote marks are non-standard? What program produces this ? Word and outlook? I was thinking maybe supporting these through configuration. Im not sure though how common this problem is

[2019-12-31 19:29] kbilsted commented on #127
@victori static and multi thread may lead to problems when you have mutability. Feel free to make an instance version and leave the static as an option for backward compatibility

[2019-12-31 19:56] victori commented on #127
Hey guys,

Yes, that is exactly what I have done, create a new CSVPreference for each instance of the CSV parser.

I was hoping that the report might nudge for the removal of the static instance since it can lead to subtle ingestion bugs depending how it is used.

[2020-01-02 00:03] kbilsted commented on #157
Many thanks for your input.  I'm not sure where you are missing them.

[2020-01-02 00:05] kbilsted commented on #158
Hi that sounds like an easy task to create a reflectionwriter. Feel free to submit a PR

[2020-01-02 00:07] #155 closed

[2020-01-02 00:12] kbilsted commented on #138
Good idea. I need help with ideas on how best to solve this.

[2020-01-02 00:17] kbilsted commented on #126
@aadrian its been a while, :-)  are you still interested?

[2020-01-02 00:19] kbilsted commented on #119
What is a goo solution going forward ?

[2020-01-02 00:21] kbilsted commented on #123
Good idea

[2020-01-02 01:48] robertvazan commented on #157
I am using [lombok](https://projectlombok.org/) to generate fluent accessors via [@Getter/@Setter](https://projectlombok.org/features/GetterSetter) annotation. I configured lombok globally to generate fluent accessors everywhere, i.e. without get/set prefix and with setters returning `this`.

[code]

I then tried to use `CsvBeanWriter` and `CsvBeanReader` with my data class, but they won't recogni

[2020-01-02 01:52] robertvazan commented on #158
I am currently using a little helper class that uses reflection to accomplish this, but the code is too hacky to publish and I currently don't have time to do a high-quality PR. Let's leave this issue open and perhaps someone will find time to do it (maybe even myself some time later).

[2020-01-02 02:11] dota17 commented on #133
Yes, thanks! I am looking forward to it.

[2020-01-02 02:34] DraqueT commented on #138
I'll pull the repo tomorrow and see what I can do. I recently just pulled my whole project up from J8 to J12 with modules, so I might be able to spot some stuff. Is there any document I should be aware of or quirks I should know before trying to build?

[2020-01-02 06:15] kbilsted commented on #157
Hi Robert
So that tool generate get/set methods with a different signature than what we harvest. Perhaps the harvester needs to be more configurable?

How used is this loom tool?

[2020-01-02 06:23] kbilsted commented on #138
@DraqueT great news!

Yesterday I made some commits fixing the javadoc

I was also forced into upgrading 1.5 to 1.6 not sure why. I haven't coded java in a while. I installed java11 and the latest mvn

Going to 1.6 i guess won't hurt much. What are the problems with java 8 and later releases? Changes in the module system ? Do we need special releases for java 5, 8, 9+ or what is your strategy?

[2020-01-02 06:30] robertvazan commented on #157
Lombok actually generates bean-like accessors by default. Verb-less (without get/set) and chaining (returning `this`) accessors are an option. Some Java developers, including myself, use fluent style for handwritten accessors, because it results in neat APIs for dumb data classes.

Since super-csv is essentially a serialization library, the objective here should be to match API of more commonly us

[2020-01-02 08:09] ilvez commented on #119
Hi there. Took me quite a while to get into the context to understand the issue:) I haven't coded Java for nearly over 3 years now, so I can talk jibberish, but..

So what I think leads to this compile warning is that `FmtNumber` itself does not implement `execute` correctly.

This is `CellProcessor`:
[code]
And `execute` declaration from `FmtNumber`:
[code]
The only way to correct this would be e

[2020-01-02 15:14] #144 closed

[2020-01-02 15:20] kbilsted commented on #160
The choice of tool is really up to whatever is the favorite of who wants to help maintain the library

[2020-01-03 08:58] dota17 commented on #114
Hi, @kbilsted
I think the current API can meet the needs of appending file writing, as I replied above , If you need to add the feature of appending file writing to super-csv, do you have any suggestion?
My idea is to add an API which parameter is a file name rather than a writer. In this API, you can implement the appending file writing feature, such as the following:
[code]
But I don't think it

[2020-01-03 09:36] dota17 commented on #47
Hi, @kbilsted
Are you still looking for a maintainer? I'm interested in it.

[2020-01-03 10:34] jjenkov commented on #160
Personally, I feel the runtime using SuperCSV should take precedence over any build or reporting tools used during SuperCSV development. Hence, since Java 8 is one of the most used Java versions out there, I believe SuperCSV should be developed with support for Java 8. If Cobertura, in this day and age, still doesn't support Java 8, I think Cobertura should be downprioritized.

[2020-01-03 14:43] kbilsted commented on #160
@jjenkov  I agree.

Who are familiar with other coverage tools and who have an interest in driving them forward here?

[2020-01-03 14:54] kbilsted commented on #47
@dota17  sounds great!

[2020-01-03 14:58] kbilsted commented on #114
@dota17  Perhaps the best solution is a simple unit test that show how to append to an existing file. Then we can refer to this test in the documentation. From a concrete example we can better judge.

Also it is a somewhat frequent asked question - so a documentation page may be nice?

[2020-01-03 15:19] kbilsted commented on #146
@dota17  Perhaps you can reproduce by writing a file with a column notnull and provide a null value. the exception then does not give enough information as to what is wrong apparently

[2020-01-03 15:28] kbilsted commented on #135
Great contribution! Please convert to PR

two small issues up for debate amongst the interested

* `str.indexOf('"')` is invoked one time too often
* missing documentation (not in the code)
* hardcoded separator constants e.g. `,` - should it use the preferences instead?

[2020-01-03 15:30] kbilsted commented on #118
@dota17  you can autoclose issues if your commit message contains the right information see https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-keywords

[2020-01-03 15:30] #118 closed

[2020-01-03 15:32] kbilsted commented on #154
sounds like he needs https://github.com/super-csv/super-csv/issues/135

[2020-01-04 10:43] #106 closed

[2020-01-04 13:35] #127 closed

[2020-01-04 20:07] SchlauFuchs commented on #47
I could help, too. What is on the backlog?

On Sat, 4 Jan 2020, 3:54 AM Kasper B. Graversen, <notifications@github.com>
wrote:

[2020-01-04 20:33] kbilsted commented on #47
@SchlauFuchs fantastic . We need to have fun. So whatever tickles you...

Also We need to deal with issues, review the pr's and make ready for a v2.50 release before long

[2020-01-05 00:12] jjudd08 commented on #135
sorry was replying to email thread, I'll put it here too:

Ok been a while since I worked on this so I needed to get it set back up and remember what and why I did things.

I see what you mean with str.indexOf('"') being called one time too often, I'll remove the extraneous one.
I'll see if I can find where to add documentation in the project.
For the separator, what I was doing was isolating it f

[2020-01-05 00:47] jjudd08 commented on #135
I'm generated the javadoc for the new classes which would just need to be added and linked too from here http://super-csv.github.io/super-csv/cell_processors.html.  How do you want me to do that?

[2020-01-05 00:56] jjudd08 commented on #135
I've also created a local branch so I can setup a PR, but I guess there is some setup needed as I'm getting 403 when I attempt to push it.

[2020-01-05 00:57] jjudd08 commented on #135
sorry didn't realize it would close the issue, lol can you tell I'm not use to github. :)

[2020-01-06 09:28] dota17 commented on #160
Hi, @kbilsted
Maybe we can try using jacoco to replace cobertura?

[2020-01-06 19:52] kbilsted commented on #160
@dota17  You are welcome to try to integrate with jacoco

[2020-01-07 09:35] dota17 commented on #158
Clear mapping, which can be partially writting  and also knows the order relationship between properties  and columns. if get all properties  by reflection , how to map the processors in order , any suggestion?

[2020-01-07 17:33] kbilsted commented on #158
@robertvazan feel free to submit a low level pr. Maybe some one will pick it up ;)

@dota17 i don't understand

[2020-01-09 01:58] dota17 commented on #47
Hi, @kbilsted
What features and issues are more urgent for version 2.5.0? I can prioritize. And what is your plan for 2.5.0?

[2020-01-09 02:50] dota17 commented on #158
@kbilsted json is key-value map. but csv is list. in super-csv the headers and columns and processors must has the same num and order so you can read and write. I could not know how to order the filed   reflect from bean to map the  columns and processors .

[2020-01-09 03:18] dota17 commented on #135
Hi, @jjudd08
Is there anything I can do for you?

[2020-01-09 03:37] dota17 commented on #157
Hi, @kbilsted
For the problem of ```get/set```, we can try to use the field direct mapping throught java reflection instead of the set/get method mapping. What do you think?

[2020-01-09 03:40] dota17 commented on #157
Hi, @robertvazan
Is super CSV suitable for fluent programming? Can you come up with a specific scenario code (if super CSV supports fluent programming)

[2020-01-09 07:26] kbilsted opened #176 "v2.50 release"
@dota17 @jjenkov @ChristianWilkie

[2020-01-09 07:29] kbilsted commented on #176
I like you guys feedback on this. In my mind it is

* get jenkins up and running with code coverage
* its been a while since last release, so get a release out soon

[2020-01-09 07:41] dota17 commented on #176
maybe we should upgrade to java 8 ,just like @jjenkov says java 6 or java 7 is too old   #169

[2020-01-09 09:05] robertvazan commented on #157
@dota17 It's not that SuperCSV API itself needs to be fluent. All that's needed is to support fluent POJOs in addition to JavaBeans. The reasons for support are convenience and consistency (with the rest of the app code and with JSON parsers).

[2020-01-09 16:35] jjenkov commented on #176
I would say, that the highest priority should be to just get a release out. As far as I can see, v. 2.4.0 is 3 years old. I would go for a minimum of functionality in 2.5.0, just to bring SuperCSV "back to life" .

[2020-01-09 19:34] #160 closed

[2020-01-10 03:07] dota17 opened #177 "CsvDozerBeanWriter partical write has problems"
In this [file](https://github.com/super-csv/super-csv/blob/master/super-csv-dozer/src/test/java/org/supercsv/example/dozer/Writing.java) (https://github.com/super-csv/super-csv/blob/master/super-csv-dozer/src/test/java/org/supercsv/example/dozer/Writing.java), i think ```partialWriteWithCsvDozerBeanWriter()``` is not a example for partial writing. I have a problem when I am going to revise it.
[co

[2020-01-10 09:25] dota17 commented on #177
I will change the example of partial writing by using CsvDozerBeanWriter.

[2020-01-10 09:25] #177 closed

[2020-01-10 20:36] DraqueT commented on #176
If upgraded to J8, would SuperCSV work correctly under J9+? My application uses SCSV, and a problem that I run into is its incompatibility with J9+ just generally. It would be a big upgrade for me if that issue was resolved. (as always, thank you for maintaining this!)

[2020-01-10 21:22] DraqueT commented on #138
Sorry for the long absence there. I'm currently playing around with this and trying to get a better feel for how much work it would take to pull the whole shebang farther up. The setup is a bit more complex than what I've done in the past, but anything I find I'll post here.

[2020-01-10 22:17] kbilsted commented on #177
why close this issue?

[2020-01-10 22:27] kbilsted commented on #176
@DraqueT  Is the approach to make a J9 specific release? or will the https://github.com/super-csv/super-csv/pull/152 suffice?

[2020-01-11 09:42] dota17 commented on #157
Hi, @robertvazan  @kbilsted
Do you think such PR #180  can solve your problem? What do you think?

[2020-01-11 11:42] robertvazan commented on #157
@dota17 It essentially fixes this issue. I didn't test it though. It would be even better to automatically configure name mapping and default processors, but that's something `CsvBeanReader` and `CsvBeanWriter` would benefit from too.

[2020-01-11 22:44] joaomartins-git opened #181 "Super CSV Eclipse IDE"
Hi all.

So, i'm having trouble "installing" the library in Eclipse IDE. Mostly becaus it has no JAR files (i think).
Is there anyway to put it to work? or any explanation to why i'm having such difficulty?

Thanks all
Best Regards

[2020-01-12 23:31] kbilsted commented on #47
@SchlauFuchs  found anything of interest?

[2020-01-13 03:10] dota17 commented on #181
**1.Using by super-csv source code**
Use the following command
[code]
jar files in /target for each subproject.(java version: 1.8, mvn version: 3.5)
**2.Using in Maven Project**
Please read: http://super-csv.github.io/super-csv/downloading.html

I'm glad to help you

[2020-01-13 03:21] SchlauFuchs commented on #47
The first thing I found (looking for the help wanted tag) was the one about
empty rows made of commas. Someone has done work on it already, I wonder
why it wasn't merged yet.

I did not look into the code, only the backlog.

I could tackle this

On Mon, 13 Jan 2020, 12:31 PM Kasper B. Graversen, <notifications@github.com>
wrote:

[2020-01-13 03:50] dota17 commented on #157
Hi, @robertvazan
```automatically configure name mapping and default processors``` is the issue #158 ? . I understand these are two different questions, right? PR #180 is mainly used to solve this problem. Direct Field reflection can support  fluent POJOs in addition to JavaBeans.

[2020-01-13 06:43] dota17 commented on #158
Hi, @robertvazan
POJO is the form of key-value, so is json. But Csv is the list of key or value, super-csv map properties through header.
So how to automatically all properties? Can you give me some idea?

[2020-01-13 12:11] robertvazan commented on #157
@dota17 Yes, you are right. This PR is already a big help.

[2020-01-13 12:27] robertvazan commented on #158
Here's a (very lazy and dirty) way to automatically configure names and processors:

[code]

This could use a lot of improvements, including support for inherited fields, more supported field types, tolerance of field reordering (if that is not done already), perhaps taking into account what is in the CSV header, and maybe annotations to customize how fields are serialized if there are multiple op

[2020-01-14 11:45] dota17 commented on #176
Hi, @kbilsted
I don`t think super-csv version 2.5.0 make a J9 specific release. I think it is enough that ensuring super-csv 2.5.0 can be imported and used in java9 module application(#138 ).
Because java9 modules is important and influential. When we upgrade Java 9, we need to design reasonable modules for super-csv,

And

[2020-01-14 11:58] dota17 commented on #176
Hi, @kbilsted
Are you plan to upgrade to java8 in 2.5?
If so, we can incorporate super CSV java8 into super CSV and address #152. that will ensuring super-csv can be imported and used in java9 module application.

[2020-01-14 19:35] apatrida commented on #176
Adding support for escaping quotes using `\"` instead of leaving this as unhandled seems reasonable, very hard to recover from errors based on this otherwise.

[2020-01-14 19:52] kbilsted commented on #176
@dota17  I'd vote for caution. Can you make things work in a side branch for JDK 9 for now and get experince with it with some users?

isn't java8-specifc jar a part of the existing mvn build?

[2020-01-14 20:05] shawnweeks commented on #176
I can probably help out on getting this to compile on Java 8. This is used on one of the Apache projects I'm working on and there are some bug fixes I could really stand to have. Glad to see active development again.

[2020-01-14 20:14] shawnweeks commented on #176
The master branch does build just fine on Java 8 though. Not sure if what some of the other issues actually were.

[2020-01-14 20:18] kbilsted commented on #176
@shawnweeks thanks. I'll install jdk8 and retry

[2020-01-14 20:22] kbilsted opened #184 "release notes v2.50 preparation"
We need to prepare the release notes for the next release.

anyone up for the job?

[2020-01-14 20:32] shawnweeks commented on #176
I just ran "mvn clean install" using adoptopenjdk on macos. All the test cases ran and everything. Jars appear to be there in the build not sure what else needs to be tested but it should at least build until we move the compile versions forward.

[2020-01-14 21:20] jjenkov commented on #184
v. 2.5.0 SuperCSV upgraded to use Java 8. No other features added.

[2020-01-14 21:27] jjenkov commented on #181
I guess it depends on what you mean by "installing" the library.

Do you need to use SuperCSV from inside your own application? Then you need the JAR file, or need to use Maven and a pom.xml file where you configure SuperCSV as a dependency inside.

Or do you need to clone SuperCSV and play around with the SuperCSV code itself inside Eclipse?

[2020-01-14 22:10] kbilsted commented on #184
@jjenkov  sure. but if you look at the repo you see plenty of commits since v2.40 that we need to tell the world about.

[2020-01-15 01:54] dota17 commented on #176
@shawnweeks @kbilsted  in windows , I use java8 must remove the ```java 1.5 compatability``` in pom.xml and fix some testcase from ````assertEquals(IN_RANGE, processor.execute(IN_RANGE, ANONYMOUS_CSVCONTEXT));````  to ```assertEquals((Object)IN_RANGE, processor.execute(IN_RANGE, ANONYMOUS_CSVCONTEXT));```  cause the java8 typereference has some changes from java5

[2020-01-15 02:48] dota17 commented on #184
Hi, @kbilsted
I will submit a PR about release notes for the next release.

[2020-01-15 02:57] dota17 commented on #176
Hi, @kbilsted
You mean I create a new branch to solve the problem of using super-csv in java9 module application, right?
If so, I will create a new branch and do three things:
* upgrade super-csv to java8
* incorporate super-csv-java8 into super-csv
* fix issue #138

[2020-01-15 03:26] dota17 commented on #157
@robertvazan
Thanks, I will complete the PR for this in some day.

[2020-01-15 03:26] dota17 commented on #158
@robertvazan
Thanks for your input. I get it.

[2020-01-15 15:55] joaomartins-git commented on #181
Hi!!
Thanks for both of your replies, it helped a lot.
Actually i was trying to include the libraries in my Ecplise project but without using Maven. That's why i had so many issues doing it.

Switched to a maven project, included the dependencies and it made wonders.

[2020-01-15 15:55] #181 closed

[2020-01-16 12:20] dota17 commented on #176
Hi, @kbilsted
![image](https://user-images.githubusercontent.com/50514813/72524445-ec602900-389c-11ea-8053-90b2213fdfe2.png)
Can you create a new branch on super-csv or give me permission to create a branch so that I can complete it?

[2020-01-16 18:00] jjudd08 commented on #135
well since i can’t seem to get a branch created to do a pull request, you
go ahead and make one on my behalf if you want.

On Wed, Jan 8, 2020 at 9:18 PM Chen <notifications@github.com> wrote:

[2020-01-16 18:26] kbilsted commented on #135
Fork the repo and clone that to your machina. Create branch and push. Then goto GH and see your repo. It will ask to create PR

[2020-01-16 19:50] kbilsted commented on #176
@dota17 sure we can do, but what do you want to achieve that you cannot do in an ordinary PR branch?

[2020-01-16 19:54] #142 closed

[2020-01-17 09:26] dota17 commented on #176
Hi, @kbilsted
The reason I asked creating a branch is that you mentioned if I could make things work in a side branch for JDK9 three days ago, and I don't have such permission now.

[2020-01-17 09:43] dota17 commented on #176
Hi, @kbilsted
About @DraqueT  comments six days ago, he hope v2.5.0 can be used normally in java9. PR #152  can not completely solve the problem. I've come up with a solution in subsequent comments.
I upgrade super-csv's JDK、 incorporate super-csv-java8 and address PR #152 to generate a branch which can be used normally in java9. Since this branch has changed a lot and according to you advice, I a

[2020-01-20 17:59] kbilsted commented on #176
@dota17  sure we can make a branch in the main repo, just be careful with fully changing all the code. Can be hard to merge

Also will your changes be compatible with Java8?

branch created https://github.com/super-csv/super-csv/tree/jdk9

[2020-01-21 09:33] dota17 commented on #176
Hi, @kbilsted
I'm sorry I didn't describe the new branch clearly. This new branch code:
* super-csv java compiler is java8.
* generating super-csv.jar can be nomarly used in Java9+ programs.

So this new branch name should be java8 rather then java9. Do you have any suggestions?

[2020-02-05 09:19] dota17 commented on #176
Hi, @kbilsted
I am sorry. Can you change the name of the branch from java9 to java8 ：）.

[2020-02-07 15:51] kbilsted commented on #176
sorry yes. I have been away for some days. Had some business I had to do.

[2020-02-20 07:23] ShriprasadM opened #190 "Can not use as module in module-info.java, reason could be 'super' is java keyword"
`module mymodule {
    requires super.csv;
}`

on compilation gives following error

`[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  4.221 s
[INFO] Finished at: 2020-02-20T12:46:25+05:30
[INFO] ----------------------------------------------------

[2020-02-20 07:43] dota17 commented on #190
Hi, @ShriprasadM
Sorry, This issue is the same as #138 and #152 .
Can you use super-csv in your project by importing jar packages? If you can, you can download the code for generating jar package from https://github.com/dota17/super-csv/tree/java8 to use in your project. The super-csv here can be used normally in java9.

[2020-02-20 08:03] ShriprasadM commented on #190
Hello, @dota17
Thanks for the update ! But my project is maven based and can not import jar

[2020-02-20 09:44] ShriprasadM commented on #190
can we release artifact with name `supercsv` instead of `super-csv`?

[2020-02-21 22:17] DraqueT opened #191 "Exception Thrown on Special Characters"
Under certain scenarios, super-csv will blow up when consuming special characters. To make this error appear:

1) Copy/paste the following CSV data into an empty file:
[code]

2) Save this file with encoding: UTF-16 Little Endian

3) Try to parse the file with super-csv

Here is the top stack trace I got while using it:
[code]

Let me know if there are any other details I can git to help!

[2020-02-21 22:30] DraqueT commented on #191
I just realized that I am an idiot. I am waiting to re-integrate super-csv and making due with the commons parser atm. Disregard.

[2020-02-21 22:30] #191 closed, assigned to nobody

[2020-02-25 14:48] dota17 commented on #191
[code]
output:
[code]

[code]

[2020-02-26 06:36] dota17 commented on #190
@kbilsted What do you think of this problem?

[2020-03-05 06:36] dota17 commented on #151
Hi, @abhishek-nandgaonkar
* first:
[code]
This is not in accordance with RFC 4180 section 2.7(If double-quotes are used to enclose fields, then a double-quote appearing inside a field must be escaped by preceding it with another double quote).
This problem is same as ISSUE #77 . There is a PR #194 to fix them.

* second:
[code]
RFC 4180 section 2.5(If fields are not enclosed with double quotes, th

[2020-03-06 09:03] dota17 commented on #146
![image](https://user-images.githubusercontent.com/50514813/76067599-9f5e2080-5fca-11ea-9be5-ccf650b3e45d.png)
Hi, @lukaz-sampaio
In the exception information, there is ```columnNo```. You can save the header information to ```List<String> headers``` when using the ```writeHeader()``` method, and then get the information through ```headers.get (columnN0)```

[2020-03-06 09:20] dota17 commented on #146
Hi, @kbilsted
I think the exception information here is enough. There is ```rowNo```, ```columnNo```. if the header information is needed to add in the exception:
* there might be no header in csv data.
* Add header information in Cellprocessor Exception need to change ```executeCellProcessors()``` method. This can cause a lot of file changes.

I don't think it's a cost-effective change, your opin

[2020-03-06 09:49] dota17 commented on #128
Hi, @kbilsted
This is the problem of Chinese quotation marks. I don't think it's necessary to support it.

[2020-03-06 09:52] dota17 commented on #137
yeah.

[2020-03-07 02:30] dota17 commented on #123
Add ```isFieldReflect``` flag in ```CsvBeanReader/CsvBeanWriter``` to support all fields(without getter and setter) in the Bean processors.

[2020-03-07 02:44] dota17 commented on #117
Hi, @TheNilesh
This is an interesting question. Your question should be to inherit tokenizer.java, right? After all, abstracttokenizer meets inheritance requirements.

[2020-03-07 02:51] dota17 commented on #117
This PR replace Tokenizer with CsvDecoder. If you want to use customer parsing logic, you only need to implement the CsvDecoder interface

[2020-03-07 03:54] dota17 commented on #109
Hi, @anbui08
Your scenario is: is there a problem with the CSV file generated using the above code?
http://stackoverflow.com/questions/13585914/messed-up-csv-leads-to-exception is that data error causes super-csv to throw exception and block batch processing.

[2020-03-11 04:34] SchlauFuchs commented on #47
Hi,

Kasper, can you review/merge my PR at
https://github.com/super-csv/super-csv/pull/196 ?

I had a quick a quick review of some sources, especially wondering that the
java classlevel of the project is still 5. I had to dig out a JDK8 from
deep in the web to be able to build this under such settings. I really
recommend to upgrade the project to at least classlevel 8 for compatibility
reasons, bu

[2020-03-16 13:47] dota17 commented on #154
@kbilsted @Jagpreet10
There is a PR #193 , which can parse ```String``` to ```List<String>``` though ```,``` to split.
What is the representation of columns with multiple values here? Is it necessary to expand other split char based on pr193?

[2020-03-17 12:17] dota17 commented on #109
Hi, @anbui08
Super CSV doesn't find that the print data is lack of comma. You can try to use the ```write(Object source, String[] nameMapping, CellProcessor[] processors)``` method to write, which can verify the number of columns to write data.

[2020-03-28 07:26] dota17 commented on #25
@kbilsted
CsvListReader can solve this problem. We should consider that other readers, such as ```CsvBeanReader```, support redundant empty columns.

[2020-04-01 09:04] dota17 commented on #4
@kbilsted ```maxLinePerRow``` is documented in preference.apt. And this should close.

[2020-04-02 23:17] SchlauFuchs opened #201 "Suggestion - skip becoming java-9 compatible, the LTS version is now 11, and 14 already released."
I think that the roadmap should be to come Java 11 ready. That includes Java 9 compatibility but for a new full release it would be worth to orientate on the current LTS.

[2020-04-11 12:09] ShriprasadM commented on #190
@dota17 / @kbilsted: Do we have any plans on this issue?

[2020-04-15 12:29] dota17 commented on #190
Yeah, but It will take a while to use through MVN!

[2020-04-26 10:22] bansengkwon opened #204 "Support random read and write function expansion"
I hope to support random reading and writing to a specified location like RandomAccessFile

[2020-04-26 11:52] dota17 commented on #204
Do you want to read and write CSV files at the same time? Can you describe the specific use scenario?

[2020-04-27 01:01] bansengkwon commented on #204
When the CSV file exists and the data is written again, I want to be able to write from the last line instead of the first. This operation is similar to the 'seek()' method of RandomAccessFile, which starts to write after it has moved to the specified location.

[2020-04-27 02:13] dota17 commented on #204
If you want to write from the last line instead of first, you can use append parameter in FileWriter like this:
[code]

And RandomAccessFile can write anywhere, It's easy to break CSV files.

[2020-05-22 18:58] deveshks opened #205 "Problem reading a class with List<Double> attribute using CsvDozerBeanReader"
I have been trying to read a Pipe-Delimited CSV with some values being empty, and some being filled with doubles, but I am unable to use `CsvDozerBeanReader` to read a bean which has a `List<Double>` of Doubles in it. The reader instead reads them as a `List<String>`

Below is a toy code which can reproduce the issue.

**My CSV**: (Note that the middle value is null, and rest are valid numbers)

[

[2020-05-27 03:42] dota17 commented on #205
Hi, @deveshks
I'm so sorry, Super-csv currently does not support the conversion of CSV multi column to ```List```. And this exception is caused by DozerBeanMapper converting List<Object> to Llist<Double>.

[2020-05-27 03:45] dota17 commented on #205
Hi, @kbilsted
Any idea about this problem?

[2020-05-27 04:18] deveshks commented on #205
But that's what is being done in the [Reading with CsvDozerBeanReader
](https://super-csv.github.io/super-csv/examples_dozer.html) right, or am I missing something?

[2020-05-27 07:34] dota17 commented on #205
Oh, It's embarrassing. I will look for the cause of this problem, it may appear in dozer.

[2020-05-27 07:39] deveshks commented on #205
I was actually able to solve this by using `hintTypes`, something like

[code]

Note that the docs say

[code]

but I am not sure if `java.lang.Double` counts as a standard Java type. (I am new to Java)

[2020-05-27 08:04] dota17 commented on #205
Yeh, ```Integer``` also cause the same problem.
Maybe the doc should update.

[2020-05-27 08:06] deveshks commented on #205
Yes, maybe a reference to java docs as to what constitute standard Java types will be helpful for new users.

[2020-06-17 20:27] deveshks commented on #205
Hi @dota17

Was there a doc update or any other solution to resolve this?

[2020-09-05 12:35] ptahchiev commented on #138
Any update here?

[2020-10-15 14:51] mage95 commented on #184
is there any plan for releasing v2.5.0?

[2020-11-01 04:27] ShriprasadM commented on #190
@dota17 any updates on this ?

[2020-12-10 14:06] petozoltan opened #207 "Cannot ignore extra columns when reading"
https://github.com/super-csv/super-csv/blob/208d3082cd5cdab39da8873cf741f8b672d1af5b/super-csv/src/main/java/org/supercsv/util/Util.java#L78

If not all columns in the import file should be processed then the official solution is this:
[Partial reading with CsvBeanReader](https://super-csv.github.io/super-csv/examples_partial_reading.html)

But it does not work because the `String[] headers` is no

[2021-01-14 21:15] patric-r commented on #176
Any chance for a 2.5.0 release soon?
What issues/things are still open to do so?

[2021-02-04 19:31] LeboyX opened #208 "DefaultCsvEncoder replaces cell newlines w/ EOL characters"
I have configured my newline separator (via `CsvPreference`) to `\r\n`. I have rows/cells of data like the following:

[code]

When written, I _expect_ the CSV written to look like:
[code]
However, the _actual_ result replaces my cell's content as follows:
[code]

The content of my cells needs to be preserved *exactly* as entered; I can't have any replacement or massaging of the data outside of wh

[2021-03-02 08:54] KowsiAnu opened #209 "CSV file with each field double quoted"
I am trying to create CSV file with each field surrounded with double quotation.

I have searched in google for this one but not able to get exactly the result which I want.

Please suggest something.

[2021-03-26 19:53] thomas-mc-work commented on #115
Is there anything that is preventing the new release?

[2021-03-26 23:59] ZioberMichal commented on #115
Since @dota17 updated release notes in task #184 I think we are ready to do that.

[2021-08-18 08:57] vvbogdanov87 opened #211 "dozer: avoid creation of empty objects"
Hi guys, I have a CSV file:
[code]
For the first line supercsv creates an object like this:
[code]
How can I avoid creation of the second object with all fields set to null if all columns are empty?

[2021-08-24 13:52] patric-r commented on #115
I would love to finally see a new release of SuperCSV...

[2021-11-10 12:32] edu-de commented on #176
Same question here, do you have a 2.5.0 release soon or is anything open here ?

[2022-02-16 00:12] Iseji commented on #201
I am aware that the last comment in this issue was quite time ago, but is this still a thing?

I am in the process of updating some libraries I am using in few projects and this is one. It would be great if this project could be moved to Java 11.

I haven’t seen that much activity in te repo in general. I wouldn’t mind to contribute but I am not sure if the project is still being maintained.

[2022-02-23 22:28] brbog opened #218 "Bug inside ConvertNullTo cell processor (with test)"
Recently brought an ancient project up to date and now blanks are no longer trimmed (great btw) my tests discovered that chaining is broken for ConvertNullTo.

It's implementation of the execute should be:

	public <T> T execute(final Object value, final CsvContext context) {
		if (value == null) {
			return next.execute(returnValue, context);
		}

		return next.execute(value, context);
	}

(the 3

[2022-06-16 22:11] brbog commented on #47
I just reviewed https://github.com/super-csv/super-csv/pull/216 (all 7 commits).

There seem to be people wanting to contribute to this project, but even low risk pull requests don't get approved. While I'm not volunteering to take this project in any special direction, I wouldn't mind reviewing low risk stuff that doesn't change the architecture so at least basic maintenance would still be happen

[2022-08-18 18:40] patric-r commented on #47
As the maintainer(s) still seems to be unresponsive, we should think about forking this project, apply the PR/fixes there and finally release a new version.

[2022-08-18 19:55] brbog commented on #47
@patric-r , cc: @kbilsted :
I second that, but seeing the amount of issues and pull requests, I was wondering if it's even possible to copy all that good input to a fork. It would be easier to first get things cleaned up on this fork and then pass it on to another maintainer. Maybe others can get more rights on this fork from the original maintainers first?

[2022-08-18 21:16] patric-r commented on #47
@brbog If you think the PRs will get merged soon, I agree.
But to be honest and when considerung the previous years - I doubt that.
Have a look at this issue. The original author asked 2015 for a handover but nothing really happened so far even though there were several promising volunteers. Last action from @kbilsted had been in 2020 here...

Therefore I vote for what will happen sooner or later

[2022-08-18 23:27] brbog commented on #47
@patric-r : I'm afraid you are right and @kbilsted probably has a mail filter to ignore all messages originating from super-csv (addressing him is a bit of a test for this actually).

Maybe people can answer on this thread:
- if they are willing to help get everything code reviewed/fixed into a new fork
- if they know of someone who deserves the maintainer-role (that would become the account where

[2022-08-18 23:45] ash211 commented on #47
I would propose that whoever interested folks go about forking via:

- pick a new name for this project that's a slight variant, like `super-csv2`
- create the github project+repo for it, like github.com/super-csv2/super-csv2
- push this code over and do a first release with the same version number of the last super-csv release: [2.4.0](https://github.com/super-csv/super-csv/releases)
  - this way

[2022-08-19 11:57] patric-r commented on #47
Sounds good. But I still think we should offer @kbilsted a deadline to help the community by either adding people as maintainers to this repo (preferred) or at least accept the most important PRs.

If he doesn't react, we should go for a fork.

@SchlauFuchs @dota17 What do you think?

[2022-08-19 13:39] ZioberMichal commented on #47
Hey, I had a permission to the organisation but it looks like it was removed and now I can not add anyone as a maintainer.

[2022-08-19 14:23] ZioberMichal commented on #47
Also, I can try to accept most important MR. Please list them and help me to approve. We can try to release version 2.5.0 together.

WDYT, @SchlauFuchs , @dota17 , @patric-r , @ash211

[2022-08-19 14:36] ZioberMichal commented on #47
I tried to approve MR created by dependency bot but it is still blocked so it means my collaborator role is not enough to push it further.

[2022-08-25 17:59] kbilsted commented on #47
Many thanks to all the people who recently showed interest in contributing. It's great to see such energy ;-)

I am very interested in moving the project onwards. As many of you know, the package is fairly wide-spread so the last thing we want is to some troll taking over and committing malware into the package. And there has been struggles with people signaling interest in the project only to dis

[2022-08-26 13:09] kbilsted opened #219 "Supercsv v3 minimum requirements"
The existing package is fairly old. What are peoples preference in terms of minimum required java version for the next version? Which language features should be leveraged? E.g. Modules.

[2022-08-31 20:26] patric-r commented on #47
Hej @kbilsted,  great to see you alive here again ;)

While it cannot be completely ruled out, I don't see big risks about "malware commiters".
This rarely happens. The risk supercsv is slowly going to die if you do nothing is much higher :)

Of course you should choose wisely who will gain commiter privileges but if you do this for people which are active on github for a long time and especially

[2022-08-31 21:00] ZioberMichal commented on #47
I agree with @patric-r. Let's release version 2.5.0 which is almost ready, add some version upticks for libraries suggested by dependency bot, and maybe some small MR and release it.

After that we can discuss who can lead the project after @kbilsted. Some time ago I thought I will be able to do that but I could not find time for it. Nothing changed since then. Right now, I can only play a support

[2022-08-31 21:48] brbog commented on #47
@patric-r : well worded.

@kbilsted (and others)
Current reality in Belgium is that most people will conservatively select the Apache Commons CSV library or look at articles like https://www.baeldung.com/java-csv in which supercsv is not mentioned. Anyone else will probably be looking for something that satisfies their "latest-syntax-hype-fetish".

The weakest spot of supercsv is that it looks aba

[2022-09-08 17:20] patric-r commented on #219
For a possible v3 - a major release - I would vote for the previous java LTS release: java 11 as a minimum requirement and therefore its language features should be used.
Modules would be nice but are not a strong requirement for me.